{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin_Settings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Home_page</th>
                <th>About</th>
                <th>Color_scheme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_Setting in admin_Settings %}
            <tr>
                <td><a href="{{ path('admin_settings_show', { 'id': admin_Setting.id }) }}">{{ admin_Setting.id }}</a></td>
                <td>{{ admin_Setting.title }}</td>
                <td>{{ admin_Setting.homepage }}</td>
                <td>{{ admin_Setting.about }}</td>
                <td>{{ admin_Setting.colorscheme }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_settings_show', { 'id': admin_Setting.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_settings_edit', { 'id': admin_Setting.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_settings_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
