{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dataset list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dataset in datasets %}
            <tr>
                <td><a href="{{ path('admin_dataset_show', { 'id': dataset.id }) }}">{{ dataset.id }}</a></td>
                <td>{{ dataset.name }}</td>
                <td>{{ dataset.reference }}</td>
                <td>{{ dataset.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_dataset_show', { 'id': dataset.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_dataset_edit', { 'id': dataset.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_dataset_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
