{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/spectrum/spectrum.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/admin_settings.css') }}">
{% endblock %} 
{% block title %}{{ short_title }} | Admin Settings{% endblock %}
{% block main_title %}{{ title }}{% endblock %}

{% block content %}
<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header tor_ibin_header">
				<button type="button" class="navbar-toggle left"
					data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse">
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} Admin</h5>
				<ul class="nav navbar-nav ">
					<li><a href="{{ path('admin_home') }}">Home</a></li>
					<li><a href="{{ path('admin_search') }}">Search</a></li>
					<li><a href="{{ path('admin_download') }}">Downloads</a></li>
					<li><a href="{{ path('about') }}">About</a></li>
					<li><a href="{{ path('faq') }}">FAQ</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
					<li><a href="{{ path('data_manager') }}">Data</a></li>
					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
					<li class="active"><a href="{{ path('admin_settings') }}">Settings</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('user_logout') }}">Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main style="background-color: #EEEEEE;">
    <div class="container">
    	{% if updated == true  %}
    	<div class="row">
    		<h4>Settings Successfully Updated</h4>
   		</div>
   		{% endif %}
    	<div class="row">
    		<ul class="nav nav-tabs" style="min-width: 580px;">
    			<li class="active tab"><a data-toggle="tab" href="#global_settings">Global Settings</a></li>
    			<li class="tab"><a data-toggle="tab" href="#home_page">Home Page</a></li>
    			<li class="tab"><a data-toggle="tab" href="#search">Search</a></li>
    			<li class="tab"><a data-toggle="tab" href="#about">About</a></li>
    			<li class="tab"><a data-toggle="tab" href="#faq">FAQs</a></li>
    			<li class="tab"><a data-toggle="tab" href="#contact">Contact</a></li>
    			<li class="tab"><a data-toggle="tab" href="#download">Downloads</a></li>
    		</ul>
    	</div>
    	{{ form_start(form) }}
    	<div class="row tab-panel" style="min-width: 580px;">
    		<div class="tab-content">
    		    <div id="global_settings" class="tab-pane fade in active">
    				<div class="container">
        				<div class="row">
        					<div class="container admin_settings_panel">
    				    		<div class="row" style="margin-top: 0px;">
                        			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                        				<h4 style="color: {{ header_color_scheme }}">Titles</h4>
                        			</div>
                        		</div>
                        		<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.title) }} {{ form_widget(form.title) }}</div>
                					<div class="row">{{ form_label(form.short_title) }} {{ form_widget(form.short_title) }}</div>
                				</div>
                			</div>	
                		</div>
                		<div class="row">
							<div class="container admin_settings_panel">
    				    		<div class="row" style="margin-top: 0px;">
                        			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                        				<h4 style="color: {{ header_color_scheme }}">Version</h4>
                        			</div>
                        		</div>
                        		<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.version) }} {{ form_widget(form.version) }}</div>
                				</div>
                			</div>
                		</div>		
                		<div class="row">
                			<div class="container admin_settings_panel">		
                				<div class="row" style="margin-top: 0px;">
                        			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                        				<h4 style="color: {{ header_color_scheme }}">Url</h4>
                        			</div>
                        		</div>
                        		<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.url) }} {{ form_widget(form.url) }}</div>
                				</div>
                			</div>
						</div>
						<div class="row">
            					<div class="container admin_settings_panel">
            				        <div class="row" style="margin-top: 0px;">
                            			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                            				<h4 style="color: {{ header_color_scheme }}">Color Scheme</h4>
                            			</div>
                            		</div>
                					<div class="row admin_settings_content">
                						<div class="col-lg-6">
                        					<div class="row">
                        					    {{ form_label(form.main_color_scheme) }} 
                        					</div>
                        					<div class="row">
                        	                    {{ form_widget(form.main_color_scheme) }}
                        	                </div>
                        	                <div class="row">
                        					    {{ form_label(form.header_color_scheme) }} 
                        					</div>
                        					<div class="row">
                        	                    {{ form_widget(form.header_color_scheme) }}
                        	                </div>
                    	            	</div>
                    	            	<div class="col-lg-6">
                        	                <div class="row">
                        					    {{ form_label(form.logo_color_scheme) }} 
                        					</div>
                        					<div class="row">
                        	                    {{ form_widget(form.logo_color_scheme) }}
                        	                </div>
                        	                <div class="row">
                        					    {{ form_label(form.button_color_scheme) }} 
                        					</div>
                        					<div class="row">
                        	                    {{ form_widget(form.button_color_scheme) }}
                        	                </div>
                	                	</div>
                	                </div>
                	            </div>
            	            </div>
        					<div class="row">
            					<div class="container admin_settings_panel">
        							<div class="row"  style="margin-top: 0px;">
                            			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                            				<h4 style="color: {{ header_color_scheme }}">Footer</h4>
                            			</div>
                            		</div>
                            		<div class="row admin_settings_content">
            							<div class="row">{{ form_widget(form.footer) }}</div>
            						</div>
            					</div>
            				</div>

        				<div class="row">
        					<div style="width: 90%;">
        						<div style="float: right;"> 
        							<a href="{{ path('user_register') }}" class="btn btn-primary" style="background-color: {{ main_color_scheme }};">Register New Admin</a>
        						</div>
        					</div>
        				</div>
    				</div>
    			</div>
    		
    			<div id="home_page" class="tab-pane fade">
    				<div class="container">
						{# <div class="row">
        					<div class="container admin_settings_panel">
    				    		<div class="row" style="margin-top: 0px;">
                        			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                        				<h4 style="color: {{ header_color_scheme }}">Home Page Context</h4>
                        			</div>
                        		</div>
                        		<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.home_page) }} {{ form_widget(form.home_page) }}</div>
                				</div>
                			</div>	
                		</div> #}
						
						<div class="row">
        					<div class="container admin_settings_panel">
    				    		<div class="row" style="margin-top: 0px;">
                        			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                        				<h4 style="color: {{ header_color_scheme }}">Top Section</h4>
                        			</div>
                        		</div>
                        		<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.mission_title) }} {{ form_widget(form.mission_title) }}</div>
                				</div>
								<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.mission_text) }} {{ form_widget(form.mission_text) }}</div>
                				</div>
								<div class="row" style="margin-top: 0px;">
                        			<div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                        				<h4 style="color: {{ header_color_scheme }}">Bottom Section</h4>
                        			</div>
                        		</div>
								<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.method_title) }} {{ form_widget(form.method_title) }}</div>
                				</div>
								<div class="row admin_settings_content">
                					<div class="row">{{ form_label(form.method_text) }} {{ form_widget(form.method_text) }}</div>
                				</div>

                			</div>	
                		</div>
    				</div>
					
    			</div>
    			<div id="search" class="tab-pane fade">
    				<div class="container">
    					<div class="row">
    						<div class="admin_settings_panel"  style="padding: 0px; margin: 10px;">
    				             <div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                    				<h4 style="color: {{ header_color_scheme }}">Examples</h4>
                    			</div>
                         		<div class="admin_settings_content">
                         			<div class="row">{{ form_label(form.example_3) }} {{ form_widget(form.example_3) }}</div>
                					<div class="row">{{ form_label(form.example_2) }} {{ form_widget(form.example_2) }}</div>
                					<div class="row">{{ form_label(form.example_1) }} {{ form_widget(form.example_1) }}</div>
        						</div>   						
    						</div>
    						<div class="admin_settings_panel"  style="padding: 0px; margin: 10px;">
    				             <div class="admin_settings_header" style="background-color: {{ main_color_scheme }}">
                    				<h4 style="color: {{ header_color_scheme }}">Network Color Schemes</h4>
                    			</div>
                         		<div class="admin_settings_content">
                         		    <div class="row">
                         		    	<div class="col-sm-7">
                        	                {{ form_label(form.query_node_color) }} 
                        	        	</div>
                        	        	<div class="col-sm-3">
                        	        	    {{ form_widget(form.query_node_color) }}
                        	        	</div>         
                        	        </div>
                					<div class="row">
                						<div class="col-sm-7">
                					        {{ form_label(form.interactor_node_color) }} 
                					    </div>
                        	        	<div class="col-sm-3">
                					        {{ form_widget(form.interactor_node_color) }}
                					    </div>   
                					</div>
            					    <div class="row">
            					    	<div style="display: table; width: 100%;">
                					    	<div style="display: table-row; padding-top: 10px;">
                                 			    <div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 100px;">
                                 			       	<strong>Name</strong>
                                 				</div>
                                 				<div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 30px;">
                                                    <strong>Order</strong>
                                 			    </div>
        
                                 			    <div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 60px;">
                                 			        <strong>Color Scheme</strong>
                                 				</div>
                                 				<div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 300px;">
                                 			       <strong> Description</strong>
                                 				</div>
                             				</div>
                             			

                    					
                    					{% for interaction_category in form.interaction_categories %}
                    					
                                 			<div style="display: table-row; ">
                                 			    <div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 100px;">
                                 			        {{ form_widget(interaction_category.category_name) }}
                                 				</div>
                                 				<div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 30px;">
                                                    {{ form_widget(interaction_category.order) }}
                                 			    </div>
    
                                 			    <div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 60px;">
                                 			        {{ form_widget(interaction_category.color_scheme) }}
                                 				</div>
                                 				<div style="display: table-cell;padding-top: 10px; padding-right: 10px; width: 300px;">
                                 			        {{ form_widget(interaction_category.description) }}
                                 				</div>
                                 			</div>
    
                             			{% endfor %}
                             			</div>
									</div>
    							</div>
    						</div>
						</div>
					</div>
    			</div>
    			<div id="about" class="tab-pane fade">
    				<div class="container">
    					<div class="row">{{ form_label(form.about) }} {{ form_widget(form.about) }}</div>
    				</div>
    			</div>
    			<div id="faq" class="tab-pane fade">
    				<div class="container">
    					<div class="row">{{ form_label(form.faq) }} {{ form_widget(form.faq) }}</div>
    				</div>
    			</div>
    			<div id="contact" class="tab-pane fade">
    				<div class="container">
    					<div class="row">{{ form_label(form.contact) }} {{ form_widget(form.contact) }}</div>
    				</div>
    			</div>
    			<div id="download" class="tab-pane fade">
    				<div class="container">
    				    <div class="row">{{ form_label(form.show_downloads) }} {{ form_widget(form.show_downloads) }}</div>
    					<div class="row">{{ form_label(form.show_download_all) }} {{ form_widget(form.show_download_all) }}</div>
    					<div class="row">{{ form_label(form.download) }} {{ form_widget(form.download) }}</div>

    				</div>
    			</div>
    		</div>
    		<div class="container">
    			<div class="row">
    			        {{ form_label(form.submit) }} {{ form_widget(form.submit) }}
    			</div>
    		</div>
    	</div>
    	{{ form_end(form) }} 
    </div>
</main>
<div class="shadow"></div>
<div class="shadow"></div>
<footer>
	
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %} 
    {{ tinymce_init( {'theme' : {'advanced':{'height': 500 }}} ) }} 
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/spectrum/spectrum.js') }}"></script>
	<script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/admin_settings.js') }}"></script>
    <script>    
        $('.main_color_scheme').spectrum({
            color: "{{ main_color_scheme }}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });
        $('.header_color_scheme').spectrum({
            color: "{{ header_color_scheme }}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });
        $('.logo_color_scheme').spectrum({
            color: "{{ logo_color_scheme }}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });
        $('.button_color_scheme').spectrum({
            color: "{{ button_color_scheme }}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });
        $('.query_node_color').spectrum({
            color: "{{ query_node_color }}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });
        $('.interactor_node_color').spectrum({
            color: "{{ interactor_node_color }}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex",
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });



        {% for key, interaction_category in interaction_categories_array %}

            $('#admin_settings_interaction_categories_{{key}}_color_scheme').spectrum({
                color: "{{ interaction_category[0].colorscheme }}",
                showInput: true,
                className: "full-spectrum",
                showInitial: true,
                showPalette: true,
                showSelectionPalette: true,
                maxSelectionSize: 10,
                preferredFormat: "hex",
                palette: [
                    ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                    ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"], 
                    ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)", 
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)", 
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)", 
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)", 
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)", 
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)", 
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
                ]
            });


		{% endfor %}


        
    </script>
{% endblock %}
