{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
{% endblock %} 
{% block title %}{{ short_title }} | Search{% endblock %}
{% block content %}
<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header tor_ibin_header">
				<img alt="" src="{{ asset('assets/images/tor_ibin_logo.png') }}" class="logo left">
				<h5 class="nav-header" style="color: {{ color_scheme }}">{{ short_title }}</h5>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav ">
					<li><a href="{{ path('home') }}">Home</a></li>
					<li class="active"><a href="{{ path('search') }}">Search</a></li>
					<li><a href="{{ path('search') }}">Downloads</a></li>
					<li><a href="{{ path('search') }}">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				</ul>
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main> 
    <div>No Results</div>
    <a href="{{ path('admin_search') }}">Back to Search</a>
    <div class="shadow"></div>
</main>
{% endblock %} 
{% block javascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}
