{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/announcement_manager.css') }}">
{% endblock %} 
{% block title %}{{ short_title }} | Announcement{% endblock %} 
{% block main_title %}{{ title }}{% endblock %}
{% block nav %}	
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header tor_ibin_header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="myNavbar" class="collapse navbar-collapse">
			<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} Admin</h5>
			<ul class="nav navbar-nav ">
				<li><a href="{{ path('admin_home') }}">Home</a></li>
				<li><a href="{{ path('admin_search') }}">Search</a></li>
				<li><a href="{{ path('admin_download') }}">Downloads</a></li>
				<li><a href="{{ path('about') }}">About</a></li>
				<li><a href="{{ path('contact') }}">Contact</a></li>
				<li class="active"><a href="{{ path('announcement_manager') }}">Announcements</a></li>
				<li><a href="{{ path('data_manager') }}">Data</a></li>
				<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
				<li><a href="{{ path('admin_settings') }}">Settings</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('user_logout') }}">Logout</a></li>
			</ul>
		</div>
	</div>
	<div class="shadow"></div>
</nav>
{% endblock %}
{% block content %}
<main  style="background-color: #EEEEEE;">
    <div id="announcement_upload" class="hidden large">
    	<div id="announcement_upload_form">
    		{{ form_start(form) }}
    		<div class="hidden">{{ form_widget(form.date)}}</div>
    		<div class="row">
    			<div class="col-sm-9">{{ form_widget(form.title) }}</div>
    			<div class="col-sm-3">{{ form_widget(form.show, {'attr': {'checked': 'checked'}}) }} {{ form_widget(form.show_on_home_page) }}</div>
    		</div>
    		<div class="row">{{ form_widget(form.text) }}</div>
    		<div class="row" style='margin-top: 2%;'>
    			<button id="cancel_announcement" class="btn btn-danger" style="float: right;">
    				<i class="glyphicon glyphicon-ban-circle"></i> 
    				<span>Cancel</span>
    			</button>
    			<button type="submit" class="btn btn-success" style="float: right; margin-right: 10px;"">
    				<i class="glyphicon glyphicon-plus"></i>
    				<span>Add Anouncement</span>
    			</button>
    		</div>
    		{{ form_end(form) }}
    	</div>
    </div>
    
    <div class="container anouncement_upload_panel">
    	<div class="row">
			<div class="anouncement_upload_header" style="background-color: {{ main_color_scheme }}">
				<h4 style="color: {{ header_color_scheme }}">Announcements</h4>
			</div>
		</div>
    	<div class="row anouncement_upload_content">
    		<div class="row">
    			<span id="new_announcement" class="btn btn-success"> <i
    				class="glyphicon glyphicon-plus"></i> <span>New Announcement</span>
    			</span>
    		</div>
        	<div class="row">
        		<div id="announcement_display">
        			<div class="container">
        				{% for announcement in announcements %}
        				<div class="row">
        					<div class="container announcement">
        						<div class="row">
        							<div class="announcement_header" style="background-color: {{ main_color_scheme }}">
        								<div class="col-sm-10">
        									<div class="announcement_title" >
        										<h4 style="color: {{ header_color_scheme }}">{{ announcement.title }}</h4>
        									</div>
        								</div>
        								<div class="col-sm-2">
        									<div class="announcement_date" >
        										<p style="color: {{ header_color_scheme }}">{% if announcement.date %}{{ announcement.date|date('Y-m-d') }}{% endif %}</p>
        									</div>
        								</div>
        							</div>
        						</div>
        						<div class="row">
        							<div class="announcement_text">{{ announcement.text | raw }}</div>
        						</div>
        						<div class="row">
        							<div class="col-sm-10">
        								<div class="announcement_show">
        									{% if announcement.showonhomepage %}
        										<input type="checkbox" style="cursor: default; margin-right: 6px;" disabled="disabled" checked>Shown On Homepage
        									{% else %}
        										<input type="checkbox" style="cursor: default; margin-right: 6px;" disabled="disabled">Shown On Homepage
        									{% endif %}
        								</div>
        							</div>
        							<div class="col-sm-2">
        								<a href="{{ path('admin_announcement_edit', { 'id': announcement.id }) }}">Edit/Delete</a>
        							</div>
        						</div>
        					</div>
        				</div>
        				{% endfor %}
        			</div>
        		</div>
        	</div>
    	</div>
    </div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %}
{% block javascripts %}
 
    {{ tinymce_init() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/announcement_manager.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
{% endblock %}
