 {% extends 'base.html.twig' %} 
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/data_manager.css') }}">

{% endblock %}
{% block title %}{{ short_title }} | Data{% endblock %} 
{% block content %}
<main style="background-color: #EEEEEE;">

<div class="container">
	<div class="row">
    	<div class="col-lg-6">
            <div class="container data_upload_panel">
        		<div class="row">
        			<div class="data_upload_header" style="background-color: {{ main_color_scheme }}">
        				<h4 style="color: {{ header_color_scheme }}">Upload Data</h4>
        			</div>
        		</div>
        		{{ form_start(form) }}
            	<div class="row data_upload_content" >
        			<div class="col-lg-10">
        				<div class="row" style="display: inline-block;">
        					<input id="uploadFile" disabled="disabled" />
        					<div class="fileUpload btn btn-primary">
        						<i class="glyphicon glyphicon-plus"></i> <span>Choose File</span>
        						{{ form_widget(form.data_file, {'attr': {'class': 'upload'}}) }}
        					</div>
        				</div>
        			</div>    
            	</div>
            	<div class="row data_upload_content" >
        			<div class="col-lg-12">
                		<button type="submit" class="btn btn-success start" style="float: right; margin-right: 15px;">
        					<i class="glyphicon glyphicon-upload"></i> <span>Upload Data</span>
        				</button>
        			</div>
        		</div>
        		{{ form_end(form) }}
        		
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="container data_upload_panel">
        		<div class="row">
        			<div class="data_upload_header" style="background-color: {{ main_color_scheme }}">
        				<h4 style="color: {{ header_color_scheme }}">Delete Dataset</h4>
        			</div>
        		</div>
        		{{ form_start(delete_form) }}
            		<div id="delete_dataset" class="hidden large_2">
                    	<div id="delete_dataset_form">
    						<div class="row">
    						
    							<p style="margin: 20px;"><strong>Are you sure you want to datele the Dataset?</strong></p>
    							<p id="dataset_to_delete" style="margin: 20px; margin-bottom: 30px;"></p>
    						</div>
    						<div class="row">
            					<div class="col-lg-6">
            			      		<button type='submit' class="btn btn-danger">
                						<i class="glyphicon glyphicon-ban-circle"></i> <span>Delete Dataset</span>
                					</button>
            					</div>
            					<div class="col-lg-6">
                					<div id="cancel_delete_dataset" class="btn btn-primary">
                						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
                					</div>
            					</div>
        					</div>
                    	</div>
                    </div>
            		<div class="row data_upload_content">
            			 {{ form_widget(delete_form.dataset_to_delete) }}
            		</div>
        		{{ form_end(delete_form) }}
        		<div class="row">
    	      		<button id="delete_dataset_button" class="btn btn-danger" style="margin: 20px;">
    					<i class="glyphicon glyphicon-ban-circle"></i> <span>Delete Dataset</span>
    				</button>
    			</div>
        	</div>	
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-6">
            <div class="container data_upload_panel">
        		<div class="row">
        			<div class="data_upload_header" style="background-color: {{ main_color_scheme }}">
        				<h4 style="color: {{ header_color_scheme }}">Update Users</h4>
        			</div>
        		</div>
        		{{ form_start(update_user_form) }}
            		<div class="row data_upload_content">
            			 {{ form_widget(update_user_form.dataset) }}
            		</div>

        		<div class="row">
    	      		<button id="update_user_button"  type="submit" class="btn btn-primary" style="margin: 20px;">
    					<i class="glyphicon glyphicon-upload"></i> <span>Update Users</span>
    				</button>
    			</div>
    			{{ form_end(update_user_form) }}
        	</div>	
        </div>
    </div>	
</div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %}

    <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/data_manager.js') }}"></script>

{% endblock %}
