{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/downloads.css') }}">
{% endblock %}
{% block title %}{{ short_title }} | Downloads{% endblock %}
{% block content %}
<header>
	<nav class="navbar navbar-default main_header" style="background-color: {{ main_color_scheme }};">
        <svg id="svg2" class="main_logo left " xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="40.026" width="69.124" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <metadata id="metadata7">
              <rdf:RDF>
               <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                <dc:title/>
               </cc:Work>
              </rdf:RDF>
             </metadata>
             <g id="g3770" stroke-miterlimit="4" stroke-dasharray="none">
              <path id="path2987" d="m48.576,17.582c0,9.2489-7.5012,16.746-16.754,16.746-9.2532,0-16.754-7.4977-16.754-16.746,0-9.2489,7.5012-16.746,16.754-16.746,9.2532,0,16.754,7.4977,16.754,16.746z" stroke-opacity="0.56084655000000005" class="parent" stroke="#000000" stroke-width="0.04307067000000000" fill="#e6e6e6"/>
              <path id="path2991-1" d="m31.367,23.78c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-7" d="m42.899,13.341c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-4" d="m67.986,29.163c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-0" d="m10.903,34.545c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path3807" stroke-linejoin="miter" d="m25.95,23.82-20.47,10.76" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
              <path id="path2991-9-45" d="m69.063,5.4793c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path3807-1" stroke-linejoin="miter" d="m63.64,5.5195-25.848,7.5356" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
              <path id="path3807-1-5" stroke-linejoin="miter" d="m62.56,29.2-24.77-16.15" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
             </g>
        </svg>
		<div style="padding: 12px;">
			<h3 style="color: {{ header_color_scheme }}">
				<strong>{{ title }}</strong>
			</h3>
		</div>
	</nav>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
				{% if login_status == false %}
    			<div class="navbar-header tor_ibin_header" >
    				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
    				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
    					<span class="icon-bar"></span> 
    					<span class="icon-bar"></span> 
    					<span class="icon-bar"></span>
    				</button>
    			</div>
    			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 0px;">
        				<ul class="nav navbar-nav ">
        					<li><a href="{{ path('home') }}">Home</a></li>
        					<li><a href="{{ path('search') }}">Search</a></li>
        					<li class="active"><a href="{{ path('download') }}">Downloads</a></li>
        					<li><a href="{{ path('about') }}">About</a></li>
        					<li><a href="{{ path('faq') }}">FAQ</a></li>
        					<li><a href="{{ path('contact') }}">Contact</a></li>
        				</ul>
        				<ul class="nav navbar-nav navbar-right">
        					<li><a href="{{ path('user_register') }}">Register</a></li>
        					<li style="margin-left: 0px;"><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        				</ul>
        		{% elseif login_status == true %}
    				<div class="navbar-header tor_ibin_header" >
						<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
        				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span>
        				</button>
        			</div>
    	
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li><a href="{{ path('search') }}">Search</a></li>
    					<li class="active"><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    					<li><a href="{{ path('faq') }}">FAQ</a></li>
    					<li><a href="{{ path('contact') }}">Contact</a></li>
    					{% if admin_status == true %}
    					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
    					<li><a href="{{ path('data_manager') }}">Data</a></li>
    					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
    					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
    					{% endif %}
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
    					<li style="margin-left: 0px;"><a href="{{ path('user_logout') }}">Logout</a></li>
    				</ul>
    			{% endif %}
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main>
    <div id="data_request_logged_out" class="hidden large">
    	<div id="logged_out_form">
    		<div class="container">
    			<div class="row">
    				<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Download Dataset</h3>
    				<p style='margin-top: 20px;'>
    					<strong>Please register or login to download unpublished data.</strong>
    				</p>
    			</div>
    			<div class="row" style='margin-top: 30px;'>
    				<div style="padding-left: 0px; float: left;">
    					<a class="btn btn-default" href="{{ path('user_register') }}">Register</a>
    					<a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Login</a>
    				</div>
    				<div style="float: right;">
    					<div class="cancel_data_request btn btn-default" style="float: right;">
    						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div id="data_request_logged_in" class="hidden large">
    	<div id="logged_in_form">
    	    {{ form_start(form, {'attr': {'id': 'add_dataset_form'}}) }}
    		<div class="container">
    			<div class="hidden">
    				{{ form_widget(form.request_dataset)}}
    				{{ form_widget(form.request_file_format)}}
    				<input id="submit_form" type="submit" value="submit" />
    
    			</div>
    			<div class="row">
    				<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Download Dataset</h3>
    			</div>
    			<div class="row">
    				
    				{{ form_widget(form.add_dataset)}}
    			</div>
    			
    			<div class="row">
    			
    				<div style="padding-left: 0px; float: left;">
    					<button id="download_unpublished_data_link" type="submit" class="btn btn-default" style="float: left; margin-right: 10px;" href=""><i class="glyphicon glyphicon-download-alt"></i> Download Dataset</button>
    		
    				</div>
    				<div style="float: right;">
    					<div class="cancel_data_request btn btn-default" style="float: right;">
    						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
    					</div>
    				</div>
    			</div>
    		</div>
    		
    		{{ form_end(form) }}
    		
    	</div>
    
    </div>
    <div class="row" style="background-color: #EEEEEE;">
    	<div class="outer_panel"  style="overflow: auto;">
        	<div class="container">
        		<div class="row">
					<h3 id="dataset_request_links" style="color: {{ main_color_scheme }}">Downloads</h3>
				</div>
            	<table class="table table-striped">
            		<thead>
                    	<tr>
                        	<th>Dataset</th>
                            <th>Number of interactions</th>
                            <th>File Downloads</th>
                     	</tr>
                    </thead>
                    <tbody>
                	{% if show_downloads == 1 %}
                    	{% for dataset in dataset_array %}
                        	{% if dataset[0].InteractionStatus == 'published' %}
                        	     <tr>
                                    
                                    <td>{% if dataset[0].pubmedid %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ dataset[0].pubmedid }}" target="_blank">{{ dataset[0].name }}</a>{% else %}{{ dataset[0].name }}{% endif %}</td>
                                    <td>{{ dataset[0].NumberOfInteractions }}</td>
    								<td>
                                        {% for data_file in dataset[1] %}
                                        	<a href="{{ data_file.path }}"   download>{{ data_file.name }}</a></br>
                      					{% endfor %}
                  					</td>                                     
                                  </tr>
                        	{% endif %}
                    	{% endfor %}
                    	{% for dataset in dataset_array %}
                        	{% if dataset[0].InteractionStatus != 'published' %}
                	          <tr>
                                <td>{{ dataset[0].name }}</td>
                                <td>{{ dataset[0].NumberOfInteractions }}</td>
								<td>
                                {% for data_file in dataset[1] %}
                                	<a id="{{ data_file.path }}"  class="dataset_request_links" format="{{ data_file.FileType }}" data="{{ dataset[0].id }}" style="cursor:pointer;">{{ data_file.name }}</a></br>
              					{% endfor %}
              					</td>
                              </tr>                      	
                        	{% endif %}
                    	{% endfor %}
                	{% endif %}
                	</tbody>
  				</table>
            	<div class="row">
            	    {{ download | raw }}
            	</div>
            </div>   
    	</div>
    </div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %}
<script>
	var loggedIn = "{{ login_status }}";
</script>
<script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.qtip.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>

<script id="document_js">

</script>
{% endblock %}