{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/downloads.css') }}">
{% endblock %}
{% block title %}{{ short_title }} | Downloads{% endblock %}

{% block nav %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			{% if login_status == false %}
			<div class="navbar-header tor_ibin_header" >
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse"  style="padding-left: 0px; font-family: Century Gothic, sans-serif">
				<ul class="nav navbar-nav ">
					<li><a href="{{ path('home') }}">Home</a></li>
					<li><a href="{{ path('search_results') }}">Search</a></li>
					<li class="active"><a href="{{ path('download') }}">Downloads</a></li>
					<li><a href="{{ path('about') }}">About</a></li>
					<li><a href="{{ path('faq') }}">FAQ</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('user_register') }}">Register</a></li>
					<li style=""><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				</ul>
    		</div>
    		{% elseif login_status == true %}
    				<div class="navbar-header tor_ibin_header" >
						<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} {% if admin_status == true %}Admin{% endif %}</h5>
        				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span>
        				</button>
        			</div>
    			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 0px; font-family: Century Gothic, sans-serif">
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li><a href="{{ path('search_results') }}">Search</a></li>
    					<li class="active"><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    					<li><a href="{{ path('faq') }}">FAQ</a></li>
    					<li><a href="{{ path('contact') }}">Contact</a></li>
    					{% if admin_status == true %}
        					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
        					<li><a href="{{ path('data_manager') }}">Data</a></li>
        					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
        					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
    					{% endif %}
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
    					<li style="margin-left: 0px;"><a href="{{ path('user_logout') }}">Logout</a></li>
    				</ul>
    			</div>
    		{% endif %}

		</div>
		<div class="shadow"></div>
	</nav>
{% endblock %}
{% block content %}
<main>
    <div id="data_request_logged_out" class="hidden large">
    	<div id="logged_out_form">
    		<div class="container">
    			<div class="row">
    				<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Download Dataset</h3>
    				<p style='margin-top: 20px;'>
    					<strong>Please register or login to download unpublished data.</strong>
    				</p>
    			</div>
    			<div class="row" style='margin-top: 30px;'>
    				<div style="padding-left: 0px; float: left;">
    					<a class="btn btn-default" href="{{ path('user_register') }}">Register</a>
    					<a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Login</a>
    				</div>
    				<div style="float: right;">
    					<div class="cancel_data_request btn btn-default" style="float: right;">
    						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div> 
    <div id="data_request_logged_in" class="hidden large">
    	<div id="logged_in_form">
    	    {{ form_start(form, {'attr': {'id': 'add_dataset_form'}}) }}
    		<div class="container">
    			<div class="hidden">
    				{{ form_widget(form.request_dataset)}}
    				{{ form_widget(form.request_file_format)}}
    				<input id="submit_form" type="submit" value="submit" />
    			</div>
    			<div class="row">
    				<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Download Dataset</h3>
    			</div>
    			<div class="row">  				
    				{{ form_widget(form.add_dataset)}}
    			</div>		
    			<div class="row">
    				<div style="padding-left: 0px; float: left;">
    					<button id="download_unpublished_data_link" type="submit" class="btn btn-default" style="float: left; margin-right: 10px;" href=""><i class="glyphicon glyphicon-download-alt"></i> Download Dataset</button>
    				</div>
    				<div style="float: right;">
    					<div class="cancel_data_request btn btn-default" style="float: right;">
    						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
    					</div>
    				</div>
    			</div>
    		</div>  		
    		{{ form_end(form) }}    		
    	</div>
    </div>
    
    <div id="particles-js2" style=""></div>
    <div id="particles-js1" style=""></div> 
    <div class="panel1" style="margin: 0px auto 0px;">  
        <div class="row" style="border-top: 1px solid #cccccc; width:96%; margin: 40px auto 40px;"></div>
    	<div class="row" style="width:94%; margin: 10px auto 10px;">
    	    {{ download | raw }}
     	</div>
		<div class="row" style="border-top: 1px solid #cccccc; width:96%; margin: 40px auto 40px;"></div>	             
	</div> 
	<div id="particles-js4" style=""></div>
	<div id="particles-js3" style="">
	
    <div class="row" style="position: relative;">
           <div style="position:absolute;  height:100%; margin-left: auto; margin-right: auto;left: 0; right: 0;top: 20;z-index: 100;">
            	<div class="outer_panel"  style="overflow: auto;">
                	<div class="container">
                		<div class="row">
        					<h3 id="dataset_request_links" style="color: {{ main_color_scheme }}">Downloads</h3>
        				</div>
                    	<table class="table table-striped">
                    		<thead>
                            	<tr>
                                	<th>Dataset</th>
                                    <th>Number of interactions</th>
                                    <th>Publication</th>
                                    <th>Download</th>
                             	</tr>
                            </thead>
                            <tbody>
                        	{% if show_downloads == 1 %}
                            	{% for dataset in dataset_array %}
                                	{% if dataset[0].InteractionStatus == 'published' %}
                                	     <tr>
                                            
                                            <td>{{ dataset[0].name }}</td>
                                            <td>{{ dataset[0].NumberOfInteractions }}</td>
                                            <td>{% if dataset[0].pubmedid %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ dataset[0].pubmedid }}" target="_blank">{{ dataset[0].pubmedid }}</a>{% endif %}</td>
                                            
            								<td>
                                                {% for data_file in dataset[1] %}
                                                	<a href="{{ data_file.path }}"   download>{{ data_file.name }}</a></br>
                              					{% endfor %}
                          					</td>                                     
                                          </tr>
                                	{% endif %}
                            	{% endfor %}
                            	{% for dataset in dataset_array %}
                                	{% if dataset[0].InteractionStatus != 'published' %}
                        	          <tr>
                                        <td>{{ dataset[0].name }}</td>
                                        <td>{{ dataset[0].NumberOfInteractions }}</td>
                                        <td></td>
        								<td>
                                        {% for data_file in dataset[1] %}
                                        	<a id="{{ data_file.path }}"  class="dataset_request_links" format="{{ data_file.FileType }}" data="{{ dataset[0].id }}" style="cursor:pointer;">{{ data_file.name }}</a></br>
                      					{% endfor %}
                      					</td>
                                      </tr>                      	
                                	{% endif %}
                            	{% endfor %}
                        	{% endif %}
                        	</tbody>
          				</table>
                    </div>   
            	</div>
    		</div>
</div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %}

<script>
	var loggedIn = "{{ login_status }}";
	
</script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/download.js') }}"></script>

{% endblock %}