{% extends 'base.html.twig' %} 
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/file_manager.css') }}">

{% endblock %} 
{% block title %}{{ short_title }} | File{% endblock %} 
{% block main_title %}{{ title }}{% endblock %}
{% block content %}
<header>
	<div id="upload_directory" hidden>{{ upload_directory }}</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header tor_ibin_header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"data-target="#myNavbar">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse">
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} Admin</h5>
				<ul class="nav navbar-nav ">
					<li><a href="{{ path('admin_home') }}">Home</a></li>
					<li><a href="{{ path('admin_search') }}">Search</a></li>
					<li><a href="{{ path('admin_download') }}">Downloads</a></li>
					<li><a href="{{ path('admin_about') }}">About</a></li>
					<li><a href="{{ path('admin_documentation') }}">Documentation</a></li>
					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
					<li><a href="{{ path('data_manager') }}">Data</a></li>
					<li class="active"><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('user_logout') }}">Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>



<main style="background-color: #EEEEEE;">
    <div class="container file_upload_panel">   
		<div class="row">
			<div class="file_upload_header" style="background-color: {{ main_color_scheme }}">
				<h4 style="color: {{ header_color_scheme }}">Upload Files</h4>
			</div>
		</div>
    	<div class="row file_upload_content">
        	<div class="row">
        		<div class="col-sm-3">
        			<div class='list-group'>
        				<span class='list-group-item list-group-item-header' style="background-color: {{ main_color_scheme }}; color: {{ header_color_scheme }}; "><b>Destination Folders</b></span> 
        				{% for directory in directories %} 
        				    {% if directory == upload_directory %} 
        				    	<a href="{{ path('file_manager', {'upload_directory': directory}) }}" class='list-group-item active'>{{ directory }}</a> 
        				    {% elseif directory == 'data' %} 
        				    {% else %} 
        				    	<a href="{{ path('file_manager', {'upload_directory': directory}) }}" class='list-group-item'>{{ directory }}</a> 
        				    {% endif %} 
        				{% endfor %}
        			</div>
					<div class='list-group'>
        				<span class='list-group-item list-group-item-header' style="background-color: {{ main_color_scheme }}; color: {{ header_color_scheme }}; "><b>Destination Files</b></span> 
        			
							{# {{ dump(uploaded_files) }} #}
						
						{% for file in uploaded_files %} 
        				    {# {% if directory == upload_directory %} 
        				    	<a href="{{ path('file_manager', {'upload_directory': directory}) }}" class='list-group-item active'>{{ file }}</a> 
        				    {% elseif directory == 'data' %} 
        				    {% else %}  #}
        					<div class="col-sm-9" style="padding-right: 0px; padding-left: 0px; ">
        				    	<a href="#" class='list-group-item'>{{ file }} </a>
							</div>
        					<div class="col-sm-3" style="padding: 0px">
								<form action={{ path('admin_deletefile', {dir_name: upload_directory, filename: file}) }}>
									<input type="submit" value="Delete" class="btn btn-primary" style="color: white "/>
								</form>
							</div>
								
								{# {{dump(file)}} #}
								{# <a href="https://google.com" class="button">Go to Google</a> #}
        				    {# {% endif %}  #}
        				{% endfor %}
        			</div>
        		</div>
        		<div class="col-sm-9">
        			{# <form id="fileupload" method="POST" enctype="multipart/form-data">
        				<div class="row fileupload-buttonbar">
        					<span class="btn fileinput-button"> 
        						<i class="glyphicon glyphicon-plus"></i> 
        						<span>Upload Folder</span> 
        						<input type="file" name="files[]" webkitdirectory>
        					</span> 
        					<span class="btn fileinput-button"> 
        						<i class="glyphicon glyphicon-plus"></i> 
        						<span>Upload File</span> 
        						<input type="file" name="files[]" multiple>
        					</span>
        					<button type="submit" class="btn btn-primary start">
        						<i class="glyphicon glyphicon-upload"></i> 
        						<span>Start Upload</span>
        					</button>
        					<button type="reset" class="btn btn-warning cancel">
        						<i class="glyphicon glyphicon-ban-circle"></i> 
        						<span>Cancel Upload</span>
        					</button>
        					<span class="fileupload-process"></span>
        				</div>
        				<div class="row">
        					<div class="fileupload-progress fade">
        						<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        							<div class="progress-bar progress-bar-success" style="width: 0%;"></div>
        						</div>
        						<div class="progress-extended">&nbsp;</div>
        					</div>
        				</div>
        				<div class="row">
        					<div id='lols' class="upload_table">
        						<table role="presentation" class="table table-striped">
        							<tbody class="files"></tbody>
        						</table>
        					</div>
        				</div>
        			</form> #}

					{{ form_start(form) }}
							{# ... #}

							{{ form_row(form.brochure) }}
					{{ form_end(form) }}

					{# <div id='upload_panel' style="border:3px solid black; padding:30px;"></div>
					<br>
					<div id='upload_preview' style="border:3px solid blue; padding:300px;"></div> #}
        		</div>
        		{# <div class="col-sm-3" style="border: 2px solid red">
				<h1> we can put something here	</h1>
					<span class="glyphicon glyphicon-print"></span>
				</div> #}

{# <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" style="width:200px; height:200px; border:4px dashed black">
</form> #}

{# <div id='aniket' style="width: 300px; border: 10px solid green; padding: 200px; margin: 400px;">
				</div> #}
				{# <div class='fileinput-button' style="width: 300px; border: 10px solid green; padding: 100px; margin: 500px;">
				</div> #}

				<div class="table table-striped" class="files" id="previews">

					<div id="template" class="file-row">
						<!-- This is used as the file preview template -->
						<div>
							<span class="preview"><img data-dz-thumbnail /></span>
						</div>
						<div>
							<p class="name" data-dz-name></p>
							<strong class="error text-danger" data-dz-errormessage></strong>
						</div>
						<div>
							<p class="size" data-dz-size></p>
							<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
							<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
							</div>
						</div>
						<div>
						<button class="btn btn-primary start">
							<i class="glyphicon glyphicon-upload"></i>
							<span>Start</span>
						</button>
						<button data-dz-remove class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>Cancel</span>
						</button>
						<button data-dz-remove class="btn btn-danger delete">
							<i class="glyphicon glyphicon-trash"></i>
							<span>Delete</span>
						</button>
						</div>
					</div>

				</div>

				

        	</div>
    	</div>
    </div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %}

    <script src="{{ asset('assets/dropzone.js') }}"></script>
    <script src="{{ asset('assets/dropzone-ui.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/file_manager.js') }}"></script>
	<script type='text/javascript'>
	 console.log(Url);
	 </script>

{% endblock %}
