{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %} 
{% block title %}{{ short_title }} | Home{% endblock %}
{% block content %}
<header>
	<nav class="navbar navbar-default home_header" style="background-color: {{ color_scheme }};">
		<img alt="" src="{{ asset('assets/images/home_logo.png') }}" class="logo left">
		<div style="padding: 12px;">
			<h3>
				<strong>{{ title }}</strong>
			</h3>
		</div>
	</nav>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header tor_ibin_header">
				<h5 class="nav-header" style="color: {{ color_scheme }}">{{ short_title | raw }}</h5>
				<button type="button" class="navbar-toggle left" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav ">
					<li class="active"><a href="{{ path('home') }}">Home</a></li>
					<li><a href="{{ path('search') }}">Search</a></li>
					<li><a href="{{ path('search') }}">Downloads</a></li>
					<li><a href="{{ path('about') }}">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				</ul>
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main>
    <div id="slideshow">
    	<div>
    		<img class="background_img" src="{{ asset('assets/images/background_img_1.png') }}">
    	</div>
    	<div>
    		<img class="background_img" src="{{ asset('assets/images/background_img_2.png') }}">
    	</div>
    	<div>
    		<img class="background_img" src="{{ asset('assets/images/background_img_3.png') }}">
    	</div>
    	<div>
    		<img class="background_img" src="{{ asset('assets/images/background_img_4.png') }}">
    	</div>
    	<div>
    		<img class="background_img" src="{{ asset('assets/images/background_img_5.png') }}">
    	</div>
    	<div>
    		<img class="background_img" src="{{ asset('assets/images/background_img_6.png') }}">
    	</div>
    </div>
    <div>
    	<img class="background_img_2" src="{{ asset('assets/images/background_img_1.png') }}">
    </div>
    <div class="row">
    	<div class="col-sm-9">
    		<div class="home_panel">
    			<div class="container">
    				<div class="row db_content" style="margin-top: 4%;">
    					<div class="col-lg-3 lefty">
    						<span class='title' style="color: {{ color_scheme }}">Organisms</span><br />
    						<span class='value' style="color: {{ color_scheme }}">{{ organism_count }}</span>
    					</div>
    					<div class="col-lg-3 centery">
    						<span class='title' style="color: {{ color_scheme }}">Proteins</span><br />
    						<span class='value' style="color: {{ color_scheme }}">{{ protein_count }}</span>
    					</div>
    					<div class="col-lg-3 righty">
    						<span class='title' style="color: {{ color_scheme }}">Interactions</span><br />
    						<span class='value' style="color: {{ color_scheme }}">{{ interaction_count }}</span>
    					</div>
    					<div class="col-lg-3 righty">
    						<span class='title' style="color: {{ color_scheme }}">Domains</span><br />
    						<span class='value' style="color: {{ color_scheme }}">{{ domain_count }}</span>
    					</div>
    				</div>
    				<div class="row" style="margin-top: 4%;">
    					<div class="about">{{ home_page | raw }}</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="col-sm-3">
    		<div class="panel panel-default">
    			<div class="panel-heading"
    				style="background-color: {{ color_scheme }}; color: #ffffff;">
    				<strong>Announcements and News</strong>
    			</div>
    			<div class="panel-body announcement_panel">
    				{% for announcement in announcements %}
    				<div class="row">
    					<div class="container announcement">
    						<div class="row">
    							<div class="announcement_header">
    								<div class="announcement_title">
    									<h4>{{ announcement.title }}</h4>
    								</div>
    							</div>
    						</div>
    						<div class="row">
    							<div class="announcement_date">
    								<p>
    									<em>{% if announcement.date %}{{ announcement.date|date('Y-m-d') }}{% endif %}</em>
    								</p>
    							</div>
    						</div>
    						<div class="row">
    							<div class="announcement_text">{{ announcement.text | raw }}</div>
    						</div>
    						<div class="row">
    							<div class="read_more">
    								<a href='announce/'>Read more...</a>
    							</div>
    						</div>
    					</div>
    				</div>
    				{% endfor %}
    			</div>
    		</div>
    	</div>
    </div>
</main>
{% endblock %} 
{% block javascripts %} 
    {{ tinymce_init() }}
    <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}
