{% extends 'base.html.twig' %} 
{% block stylesheets %}
    {% stylesheets 
        'assets/css/bootstrap.min.css'
        'assets/css/jquery-ui.min.css'
        'bundles/footable/css/footable.core.css'
        'bundles/footable/demos/css/footable-demos.css'
        'assets/css/jquery.qtip.css'
        'bundles/spectrum/spectrum.css'
        'assets/css/awesome-bootstrap-checkbox.css'
        'assets/css/main.css'
        'assets/css/search.css'
        'assets/css/search_results.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %} 
    <link rel='shortcut icon' href='{{ asset('assets/images/tor_ibin_icon.ico') }}' />
{% endblock %} 
{% block title %}{{ short_title }} | Results{% endblock %} 
{% block content %}
<header>
	<nav class="navbar navbar-default main_header" style="background-color: {{ main_color_scheme }};">
        <svg id="svg2" class="main_logo left " xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="40.026" width="69.124" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <metadata id="metadata7">
              <rdf:RDF>
               <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                <dc:title/>
               </cc:Work>
              </rdf:RDF>
             </metadata>
             <g id="g3770" stroke-miterlimit="4" stroke-dasharray="none">
              <path id="path2987" d="m48.576,17.582c0,9.2489-7.5012,16.746-16.754,16.746-9.2532,0-16.754-7.4977-16.754-16.746,0-9.2489,7.5012-16.746,16.754-16.746,9.2532,0,16.754,7.4977,16.754,16.746z" stroke-opacity="0.56084655000000005" class="parent" stroke="#000000" stroke-width="0.04307067000000000" fill="#e6e6e6"/>
              <path id="path2991-1" d="m31.367,23.78c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-7" d="m42.899,13.341c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-4" d="m67.986,29.163c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-0" d="m10.903,34.545c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path3807" stroke-linejoin="miter" d="m25.95,23.82-20.47,10.76" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
              <path id="path2991-9-45" d="m69.063,5.4793c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path3807-1" stroke-linejoin="miter" d="m63.64,5.5195-25.848,7.5356" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
              <path id="path3807-1-5" stroke-linejoin="miter" d="m62.56,29.2-24.77-16.15" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
             </g>
        </svg>
		<div style="padding: 12px;">
			<h3 style="color: {{ header_color_scheme }}">
				<strong>{{ title }}</strong>
			</h3>
		</div>
	</nav>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header tor_ibin_header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse">
    		    {% if login_status == false %}
    		    	<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li class="active"><a href="{{ path('search') }}">Search</a></li>
    					<li><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    				</ul>
    			{% elseif login_status == true %}
    				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} Admin</h5>
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('admin_home') }}">Home</a></li>
    					<li class="active"><a href="{{ path('admin_search') }}">Search</a></li>
    					<li><a href="{{ path('admin_download') }}">Downloads</a></li>
    					<li><a href="{{ path('admin_about') }}">About</a></li>
    					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
    					<li><a href="{{ path('data_manager') }}">Data</a></li>
    					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
    					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('user_logout') }}">Logout</a></li>
    				</ul>
    			{% endif %}
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main>
    <div class="se-pre-con"></div>
    <div class="row network_row" style="background-color: #EEEEEE;">
    	<div class="col-sm-2">
    		<div class="summary_panel">
        		<div class="container">
        		
        		
            		<div class="row">
            			<h3 style="color: {{ main_color_scheme }}">Summary</h3>
            		</div>
            		<div class="row">
        				<div class="row">
        					<h4 style="color: {{ main_color_scheme }}">Search Query</h4>
        				</div>
        				<div class="row">{{ search_query }}</div>
            		</div>
            		<div class="row">	
        				<div class="row">
        					<h4 style="color: {{ main_color_scheme }}">Parameters</h4>
        				</div>
            		</div>
            		<div class="row">
        				<div class="row">
        					<h4 style="color: {{ main_color_scheme }}">Stats</h4>
        				</div>
        			</div>
        						
    				<div class="row">
    					<h3 style="color: {{ main_color_scheme }}">Downloads</h3>
    				</div>
    			
    				<div class="row">
    					<h4 style="color: {{ main_color_scheme }}">Download Image</h4>
    				</div>
    				<div class="row">
    					<div class="row">
    						<div class="col-sm-4">
    							PNG:
    						</div>
    						<div class="col-sm-2">
    							<a id='png' class="png" href="" download>Download</a>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-4">
    							JPG:
    						</div>
    						<div class="col-sm-2">
    							<a id='jpg' class="jpg" href="" download>Download</a>
    						</div>
    					</div>
    				</div>
    				<div class="row">
    					<h4 style="color: {{ main_color_scheme }}">Download Network Data</h4>
    				</div>
    				<div class="row">
    					<div class="row">
    						<div class="col-sm-6">
    							PSI-MI Tab 2.7:
    						</div>
    						<div class="col-sm-2">
    							<a href="{{path('psi_mitab', {'search_term': search_query })}}">Download</a>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-6">
    							CSV:
    						</div>
    						<div class="col-sm-2">
    							<a href="{{path('csv', {'search_term': search_query })}}">Download</a>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-6">
    							PSI-MI XML:
    						</div>
    						<div class="col-sm-2">
    							<a href="{{path('psi_mixml', {'search_term': search_query })}}">Download</a>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-6">
    							Protein Sequences in Multi-FASTA Format:
    						</div>
    						<div class="col-sm-2">
    							<a href="{{path('multi_fasta', {'search_term': search_query })}}">Download</a>
    						</div>
    					</div>
    				</div>
            	</div>
        	</div>
        </div>	
    	<div class="col-sm-8">
    		<div id='cy'></div>
    	</div>
    	<div class="col-sm-2">
        	<div class="summary_panel">
        		<div class="container">
            		<div class="row">
            			<h3 style="color: {{ main_color_scheme }}">View Settings</h3>
            		</div>
    				<div class="row">
    					<label for="view_settings_layout"> Layout </label>
    				</div>	
					<div class="row">
						<select id="view_settings_layout">
							<option value="concentric">Concentric</option>
							<option value="breadthfirst">Breadth-first</option>
							<option value="grid">Grid</option>
							<option value="circle">Circle</option>
						</select>
    				</div>
					<div class="row">
						<label for="label_checkbox">Labels</label>
						<input class="styled" type="checkbox" name="view_settings_labels" id="view_settings_labels" checked="checked" />
					</div>
					<div class="row">
						<button id="view_settings_submit" class="btn btn-success" style="margin-right: 10px;"">
							<span>Update</span>
						</button>
					</div>
					<div class="row">
    					<div class="col-sm-5">
    					    <div class="row">
        						<label for="protein_of_intrest_color">Nodes</label>
        					</div>
    					</div>
    					<div class="col-sm-7">
    					</div>					
					</div>
					<div class="row">
    					<div class="col-sm-5">
        					<div class="row">
        						<input type='text' id='protein_of_intrest_color' />
        						<div id="spectrum_js"></div>
        					</div>
    					</div>
    					<div class="col-sm-7">
    					</div>
					</div>
					<div class="row">
    					<div class="col-sm-5">
    					   	<div class="row">
        						<label for="published_color">Published</label>
        					</div>
    					</div>
    					<div class="col-sm-7">
    					    <div class="row">
        						<label for="pre-published_color">Pre-Published</label>
        					</div>
    					</div>					
					</div>
					<div class="row">
    					<div class="col-sm-5">
    					    <div class="row">
        						<input type='text' id='published_color' />
        						<div id="spectrum_js"></div>
        					</div>
    					</div>
    					<div class="col-sm-7">
        					<div class="row">
        						<input type='text' id='pre-published_color' />
        						<div id="spectrum_js"></div>
        					</div>
    					</div>
					</div>
					<div class="row">
            			<h3 style="color: {{ main_color_scheme }}">Data Settings</h3>
            		</div>
            		<form>
					<div class="row">
						<label for="min_interaction_score"> Minimum Required Interaction Score: </label>
					</div>
					<div class="row">
						<div id="min_interaction_score">
							<div id="min_interaction_score_handle" class="ui-slider-handle"></div>
						</div>
					</div>
					<div class="row">
						<label for="max_number_of_interactions"> Max Number of Interactions: </label>
					</div>
					<div class="row">
						<input type="text" name="max_number_of_interactions" id="max_number_of_interactions" style="width: 60px;" value="50" />
					</div>
					<div class="row">
						<a id="update_data_settings" class="btn btn-success" style="margin-right: 10px;" href=""> <span>Update</span></a>
					</div>
					</form>	
				</div>
    		</div>
    	</div>
    </div>
    <div class="row result_row">
    	<div class="shadow"></div>
    	<div class="row">
    		<ul class="nav nav-pills" style="margin: auto; width: 40%;">
    			<li class="active pill"><a data-toggle="pill" href="#network" style="color: {{ main_color_scheme }}">Network</a></li>
     		</ul>
    	</div>
	<div class="row result_row">
		<div class="results_panel">
			<div class="tab-content" style="padding-top: 0;">
				<div id="network"  class="tab-pane fade in active">
					<div class="container" style="overflow: auto;">
						<div class="row">
							<h3 style="color: {{ main_color_scheme }}">Interactions</h3>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="input-group input-group-sm">
									<lable for="change-page-size">Page Size:</lable>
									<select id="change-page-size">
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="5">5</option>
										<option value="10" selected>10</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<input type="text" id="filter" placeholder="Search" />
							</div>
						</div>
						{% if interaction_array|length > 0 %}
						<table id="search_result_table" class="footable table"
							data-filter="#filter" data-filtering="true"
							data-filter-minimum="3">
							<thead>
								<tr>
									<th>Interactor A Gene Name</th>
									<th>Interactor B Gene Name</th>
									<th>Score</th>
									<th>Dataset</th>
								</tr>
							</thead>
							<tbody>

								{% for interaction in interaction_array %}
								<tr>
									<td>{{ interaction.interactor_A_gene_name }}</td>
									<td>{{ interaction.interactor_B_gene_name }}</td>
									<td>{{ interaction.score }}</td>
									<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/" target="_blank">Reference</a></td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5">
										<div class="pagination pagination-centered"></div>
									</td>
								</tr>
							</tfoot>
						</table>
						{% else %}
						<p>No Interactions Found</p>
						{% endif %} 
					</div>
				</div>
			</div>
		</div>
	</div>

</main>
<footer>
	<div class="row">
		<div class="shadow"></div>
	    {{ footer | raw }}
	</div>
</footer>
{% endblock %} 
{% block javascripts %}
    {{ tinymce_init() }}
    {% javascripts
    	'bundles/fosjsrouting/js/router.js'
        'assets/js/jquery-2.1.4.min.js'
        'assets/js/jquery-ui.min.js'
        'assets/js/bootstrap.min.js'
        'bundles/footable/demos/js/bootstrap-tab.js'
        'bundles/footable/demos/js/demos.js'
        'bundles/footable/js/footable.js'
        'bundles/footable/js/footable.paginate.js'
        'bundles/footable/js/footable.filter.js'
        'assets/js/cytoscape.min.js'
        'assets/js/cytoscape-qtip.js'
        'assets/js/jquery.qtip.js'
        'bundles/spectrum/spectrum.js'   
        'assets/js/main.js'
        'assets/js/search_results.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
    
     <script id="document_js">
    $(function(){    
    	var proteinOfIntrestName = '';
		var cy = cytoscape({	
			container: document.getElementById('cy'),
    	  	elements: 
          	{
    	     	nodes: [],      
    	     	edges: []
    	  	},
    	  	style: 
		  	[
    	  		{
    				selector: '.nodes',
    				css: 
    				{
                        'content': 'data(gene_name)',
                        'text-valign': 'center',
                        'color': 'white',
                        'text-outline-width': 2,
                        'padding-top': '10px',
                        'padding-left': '10px',
                        'padding-bottom': '10px',
                        'padding-right': '10px',
                        'text-align': 'center',
                        'background-color': '#55ACEE'
        			}
    			},
                {
                	selector: '.edge',
                	css: 
                    {
                	  'line-color' : '#AAAAAA'
                	}
                }
			]
		});
    
    	var result = {{ json | raw }};

    	var nodeArray = result.nodes;
    	var edgeArray = result.edges;

    	for (i = 0; i < nodeArray.length; ++i) {

    		var proteinId = nodeArray[i][0];
    		var proteinName = nodeArray[i][1];
    		var geneName = nodeArray[i][2];
    		var proteinDescription = nodeArray[i][3];
    		var nodeProteinId = proteinId + "_" + proteinName;

    		cy.add([{ 
    			group: "nodes",
    			data: { id: nodeProteinId, protein_name: proteinName, gene_name: geneName, description: proteinDescription },
    			classes: "nodes"
    			
    		}]);
    		
    	}	

    	
    	for (i = 0; i <  edgeArray.length; ++i) {
        	
    		var sourceProteinId = edgeArray[i][0];
    		var sourceProteinName = edgeArray[i][1];
    		var targetProteinId = edgeArray[i][2];
    		var targetProteinName = edgeArray[i][3];
    		var scoreData = edgeArray[i][4];
    		var sourceNodeId = sourceProteinId + "_" + sourceProteinName;
    		var targetNodeId = targetProteinId + "_" + targetProteinName;
    		var edgeID = sourceProteinId + "_" + sourceProteinName + "_" + targetProteinId + "_" + targetProteinName;
        	var widthData = 1;
    		if (scoreData <= 0.20){
    			widthData = 2;
    		}else if(scoreData <= 0.40 && scoreData > 0.20){
    			widthData = 3;
    		}else if(scoreData <= 0.60 && scoreData > 0.40){
    			widthData = 4;
    		}else if(scoreData <= 0.80 && scoreData > 0.60){
    			widthData = 5;
    		}else if(scoreData <= 1 && scoreData > 0.80){
    			widthData = 6;
    		}
    		
    		cy.add([{ 
        		group: "edges",
        		data: { 
        			id: edgeID, 
        			source: sourceNodeId, 
        			target: targetNodeId, 
        			interaction: sourceProteinName + '-' + targetProteinName,
        			score: scoreData
        			} 
        	}]).css({ 'width': widthData });
    		
    	}

    	cy.center();
    	
    	cy.layout({ 
    		name: 'grid',
    		avoidOverlap: true,
    		equidistant: true,
    		minNodeSpacing: 50,
    	});
    
    });
    	</script>
{% endblock %}