{% extends 'base.html.twig' %} 
{% block stylesheets %}
    {% stylesheets 
        'assets/css/bootstrap.min.css'
        'assets/css/jquery-ui.min.css'
        'assets/css/main.css'
        'assets/css/search.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %} 
{% endblock %} 
{% block title %}{{ short_title }} | Search{% endblock %}
{% block content %}
<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header tor_ibin_header">
				<img alt="" src="{{ asset('assets/images/tor_ibin_logo.png') }}" class="logo left">
				<h5 class="nav-header" style="color: {{ color_scheme }}">{{ short_title }}</h5>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse">
    		    {% if login_status == false %}
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li class="active"><a href="{{ path('search') }}">Search</a></li>
    					<li><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    				</ul>
    			{% elseif login_status == true %}
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('admin_home') }}">Home</a></li>
    					<li class="active"><a href="{{ path('admin_search') }}">Search</a></li>
    					<li><a href="{{ path('admin_download') }}">Downloads</a></li>
    					<li><a href="{{ path('admin_about') }}">About</a></li>
    					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
    					<li><a href="{{ path('data_manager') }}">Data</a></li>
    					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
    					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('user_logout') }}">Logout</a></li>
    				</ul>
    			{% endif %}
			</div>
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main>
    <div class="row" style="background-color: #EEEEEE;">
    	<div class="search_outer_panel"
    		style="background-color: {{ color_scheme }}">
    		<div class="search_inner_panel">
    			<div class="row search_header">
    				<h4 style="color: #FFFFFF">
    					<strong>Search {{ short_title }}</strong>
    				</h4>
    			</div>
    			<div class="row search_content  search_panel"
    				style="background-color: #FFFFFF">
    				<div class="col-sm-10">
    					{{ form_start(form) }}
    					<div class="row" style='width: 84%; margin: 20px;'>
    						<div class="col-sm-8">
    							<div class="row">
    								<h4>{{ form_label(form.identifier) }}</h4>
    							</div>
    						</div>
    						<div class="col-sm-4">
    							<p>Examples:
    							<a href='#' class='string_example example_small' onclick='$("#form_identifier").val("{{ example_3 }}");'>#1</a>
    							<a href='#' class='string_example example_small' onclick='$("#form_identifier").val("{{ example_2 }}");'>#2</a>
        						<a href='#' class='string_example example_small' onclick='$("#form_identifier").val("{{ example_1 }}");'>#3</a> 
								</p>
    						</div>
    					</div>
    					<div class="row" style='margin: 20px;'>
    						<div class="input-group input-group-sm">
    							{{ form_widget(form.identifier) }} <span class="input-group-btn">
    								<button type="submit" class="btn btn-success" type="button" id="search_btn">Search</button>
    							</span>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-4">
    							<div class="row" style='margin: 20px;'>
    								<h4>{{ form_label(form.organism_select) }}</h4>
    							</div>
    							<div class="row" style='margin: 20px;'>
    								<div class="input-group input-group-sm">{{ form_widget(form.organism_select) }}</div>
    							</div>
    						</div>
    						<div class="col-sm-5">
    							<div class="row" style='margin: 20px;'>
    								<h4>{{ form_label(form.max_number_of_interactions) }}</h4>
    							</div>
    							<div class="row" style='margin: 20px;'>
    								<div class="input-group input-group-sm">{{ form_widget(form.max_number_of_interactions) }}</div>
    							</div>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-4">
    							<div class="row" style='margin: 20px;'>
    								<h4>{{ form_label(form.domain_select) }}:</h4>
    							</div>
    							<div id="test"></div>
    							<div class="row" style='margin: 20px;'>
    								<div class="input-group input-group-sm">{{ form_widget(form.domain_select) }}</div>
    							</div>
    						</div>
    						<div class="col-sm-5">
        						<div class="row" style='margin: 20px;'>
        							<h4>{{ form_label(form.min_interaction_score) }}</h4>
        						</div>
        						<div class="row" style='margin: 20px;'>
        							<div class="input-group input-group-sm">
        								<div id="min_interaction_score">
        									<div id="min_interaction_score_handle" class="ui-slider-handle"></div>
        								</div>
        								{{ form_widget(form.min_interaction_score) }}
        							</div>
        						</div>
        					</div>
    					</div>
    				</div>
    				{{ form_end(form) }}
    			</div>
    		</div>
    	</div>
    </div>
    <div class="shadow"></div>
</main>
{% endblock %} 
{% block javascripts %}
    {% javascripts
    	'bundles/fosjsrouting/js/router.js'
        'assets/js/jquery-2.1.4.min.js'
        'assets/js/jquery-ui.min.js'
        'assets/js/bootstrap.min.js'
        'assets/js/main.js'
        'assets/js/search.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(function() {
        	
            $( "#min_interaction_score" ).slider({
        
        		step: 0.01,
                min: 0,
                max: 1,
                value: 0,
                change:function( event, ui ) {
                  $("#form_min_interaction_score").val(ui.value);
                },
                slide: function( event, ui ) {
                  $("#min_interaction_score_handle").html(ui.value);
                }
              });
            
            $("#min_interaction_score_handle").html($( "#min_interaction_score" ).slider( "value" ));
        
        	
        	$("#form_identifier").autocomplete({
        		source: function(request, response){
        
        			url = 'http://beta.baderlab.org/web/app.php/admin/search/autocomplete/' + request.term;
        			
        
        			$.getJSON(url, function(data){
        				response(data);
        			});
        		},
        		minLength: 2,
        	});
        	
        	$("#form_organism_select").on( "change", function() {
        
        		var searchTerm = $("#form_organism_select").val();
        		var targetUrl = Routing.generate('organmism_domain', { search_term: searchTerm });
        	    $.ajax({url: targetUrl, success: function(results){
        	    	var results_array = $.parseJSON(results);
        	    	$('.domain_option').remove();
        	    	for (i=0;i<results_array.length;i++){
        
        	    		var domainOption = '<option class="domain_option" value="' + results_array[i] + '">' + results_array[i] + '</option>';
        
        	    		
        	    		$('#form_domain_select').append(domainOption);
        	    		$('#form_domain_select').on('change', function () {
                            if ($( "select[id$=_role] option:selected").val() === 'new') {
                                    $('#new_role').modal('show');
                            }
                    	});
        		    }
        	    }});
        	});
        });
    
    </script>
{% endblock %}
