{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
{% endblock %}
{% block title %}{{ short_title }} | Search{% endblock %}
{% block content %}
<header>
	<nav class="navbar navbar-default main_header" style="background-color: {{ main_color_scheme }};">
		<svg id="svg2" class="main_logo left " xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="40.026" width="69.124" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <metadata id="metadata7">
              <rdf:RDF>
               <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                <dc:title/>
               </cc:Work>
              </rdf:RDF>
             </metadata>
             <g id="g3770" stroke-miterlimit="4" stroke-dasharray="none">
              <path id="path2987" d="m48.576,17.582c0,9.2489-7.5012,16.746-16.754,16.746-9.2532,0-16.754-7.4977-16.754-16.746,0-9.2489,7.5012-16.746,16.754-16.746,9.2532,0,16.754,7.4977,16.754,16.746z" stroke-opacity="0.56084655000000005" class="parent" stroke="#000000" stroke-width="0.04307067000000000" fill="#e6e6e6"/>
              <path id="path2991-1" d="m31.367,23.78c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-7" d="m42.899,13.341c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-4" d="m67.986,29.163c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path2991-0" d="m10.903,34.545c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path3807" stroke-linejoin="miter" d="m25.95,23.82-20.47,10.76" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
              <path id="path2991-9-45" d="m69.063,5.4793c0,2.992-2.4267,5.4175-5.42,5.4175-2.9934,0-5.42-2.4255-5.42-5.4175s2.4267-5.4175,5.42-5.4175c2.9934,0,5.42,2.4255,5.42,5.4175z" class="child" stroke="{{ logo_color_scheme }}" stroke-width="0.08252774" fill="{{ logo_color_scheme }}"/>
              <path id="path3807-1" stroke-linejoin="miter" d="m63.64,5.5195-25.848,7.5356" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
              <path id="path3807-1-5" stroke-linejoin="miter" d="m62.56,29.2-24.77-16.15" class="child" stroke="{{ logo_color_scheme }}" stroke-linecap="butt" stroke-width="1.07676673" fill="none"/>
             </g>
        </svg>
		<div style="padding: 12px;">
			<h3 style="color: {{ header_color_scheme }}">
				<strong>{{ title }}</strong>
			</h3>
		</div>
	</nav>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		
		
				{% if login_status == false %}
    			<div class="navbar-header tor_ibin_header" >
    				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
    				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
    					<span class="icon-bar"></span> 
    					<span class="icon-bar"></span> 
    					<span class="icon-bar"></span>
    				</button>
    			</div>
    			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 0px;">
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li  class="active"><a href="{{ path('search') }}">Search</a></li>
    					<li><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    					<li><a href="{{ path('faq') }}">FAQ</a></li>
    					<li><a href="{{ path('contact') }}">Contact</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('user_register') }}">Register</a></li>
    					<li style="margin-left: 0px;"><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    				</ul>
    			</div>
        		{% elseif login_status == true %}
    				<div class="navbar-header tor_ibin_header" >
						<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
        				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span>
        				</button>
        			</div>
    				<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 0px;">
        				<ul class="nav navbar-nav ">
        					<li><a href="{{ path('home') }}">Home</a></li>
        					<li  class="active"><a href="{{ path('search') }}">Search</a></li>
        					<li><a href="{{ path('download') }}">Downloads</a></li>
        					<li><a href="{{ path('about') }}">About</a></li>
        					<li><a href="{{ path('faq') }}">FAQ</a></li>
        					<li><a href="{{ path('contact') }}">Contact</a></li>
        					
        					{% if admin_status == true %}
            					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
            					<li><a href="{{ path('data_manager') }}">Data</a></li>
            					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
            					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
        					{% endif %}
        				</ul>
        				<ul class="nav navbar-nav navbar-right">
        					<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
        					<li style="margin-left: 0px;"><a href="{{ path('user_logout') }}">Logout</a></li>
        				</ul>
        			</div>
    			{% endif %}
    			
    			
    			
    			
    			
		</div>
		<div class="shadow"></div>
	</nav>
</header>
<main style="background-color: #EEEEEE;">
    <div class="container" >
        <div class="row" >
        	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
        		<div class="search_inner_panel" >
        			<div class="row search_header" style="background: {{ main_color_scheme }}">
        				<h4 style="color: {{ header_color_scheme }}">
        					<strong>Search {{ short_title }}</strong>
        				</h4>
        				
        			</div>
        			<div class="row search_content  search_panel"
        				style="background-color: #FFFFFF">
        				<div class="col-lg-12">
    
        					{{ form_start(form) }}
        					<div class="row" style='width: 84%; margin: 20px;'>
        						<div class="col-sm-4">
        							
        						</div>
        						<div class="col-sm-8">
            						<div id="examples">
        								Examples:
            							<a id="example_1" href='#'  class='string_example example_small' onclick='$("#search_identifier").val("{{ example_3 }}"); validateSearchTerms();'>#1</a>
            							<a id="example_2" href='#' class='string_example example_small' onclick='$("#search_identifier").val("{{ example_2 }}"); validateSearchTerms();'>#2</a>
                						<a id="example_3" href='#' class='string_example example_small' onclick='$("#search_identifier").val("{{ example_1 }}"); validateSearchTerms();'>#3</a> 
            						</div>
        						</div>
        					</div>
    
        					<div class="row" style='margin: 20px; display: table;  width: 84%; '>
        						<div style="display: table-row;">
            						<div style="display: table-cell;">
            						
                						<div class="input-group input-group-sm" style="margin: 0px; width: 100%;">
                							{{ form_widget(form.identifier) }} 
    
                						</div>
                						
            						</div>
    
                                </div>
        					</div>
        					
    						<div class="row" style='margin: 20px; display: table; width: 84%; '>
    						    <div class="col-sm-10" style="text-align: left;">
    								<a id="advanced" data-toggle="collapse" data-target="#advanced_search" class="" style="cursor: pointer;">Advanced</a>
    							</div> 
    							<div class="col-sm-2">
        							<div style="display: table-row;">
                						<div style="display: table-cell;">
                						
                    						<div class="input-group input-group-sm" style="margin: 0px; width: 100%;">
                    							<span class="input-group-btn">
                    								<button type="submit" class="btn btn-success" type="button" id="search_btn" style="background: {{ button_color_scheme }}">Search</button>
                    							</span>
                    						</div>
                    						
                						</div>
                					
                    					<div style="display: table-cell; padding-top: 6px; vertical-align: middle;" >
                							<i class="help_query glyphicon glyphicon-question-sign" style='margin: 0px 0px 0px 10px;'></i>
                								
                							<div class="hidden">
                								Enter a gene name or Uniprot Id. Multiple search terms can be added seperated by a new line, comma, space, or tab. 
                								A list of suggested proteins will appear after 2 characters are entered.
                								
                                            </div>
                                        </div>
                                    </div>
                                
                              </div>
    
    
    						    <div class="row" style='display: table; width: 100%; '>
                                	<div class="col-sm-8">
                                	<div id="all_terms_valid" class="border hidden" style="white-space:nowrap; display: inline-flex; padding: 6px; margin-top: 10px;">
                                        <i class="glyphicon glyphicon glyphicon-ok" style='margin: 2px 10px 0px 0px;'></i>
                                        <div style="margin: 2px 4px 0px 0px;">All <span class="number_present_terms"></span> Terms Present in {{ short_title }}</div>
                                	</div>
                                	<div class="search_terms_not_found hidden row" style=" white-space:nowrap; display: inline-flex; padding: 0px 6px 6px 6px; margin: 0px;">
                                        <h4>Terms Not Present in {{ short_title }}</h4>
                                	</div>
                                	<div class="row" style="margin: 0px; padding: 0px;">
                                	<div id="invalid_terms_array" data="" class="border hidden" style="padding:10px ; margin-top:10px; max-height: 100px; overflow-x: hidden; overflow-y: scroll;" >
                                	
                                	</div>
                                	<div id="remove_invalid_terms" class="invalid_term btn btn-default hidden" style="margin-top:10px;"><i class="glyphicon glyphicon glyphicon-remove" style="margin: 2px 10px 0px 0px;"></i>Remove Terms</div>
                                	 
                               	 	</div>
                               	 	
                               	 	<div class="search_terms_not_found hidden row" style=" white-space:nowrap;  padding: 6px 6px 0 6px; margin: 10px 0px 0px 0px;">
                                        <p style=" white-space:nowrap; margin: 0px;">Number of Terms Present in {{ short_title }}: <span class="number_present_terms"></span></p>
                                        <p style=" white-space:nowrap; margin: 5px 0;">Number of Terms Not Present in {{ short_title }}: <span class="number_not_present_terms"></span></p>
                                	</div>
                                	</div>
                               </div>	
    							
    						</div>
    						<div id="advanced_search" class="collapse">
        						<div class="row">
                					<div class="col-sm-6">
            					    	<div class="row" style='margin: 20px;'>
            								<h4><label>Filter Interactions</label></h4>
            							</div>
            							<div class="row"  style='margin-left: 20px;'>
            								<div style="display: table;">
            									<div style="display: table-cell;">
            									    {{ form_widget(form.query_query) }}
            									</div>
            									<div style="display: table-cell;">
            									<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
            									
            									<div class="hidden">
            										Only show interactions among query proteins.
                                                </div>
            									</div>
            								</div>
            							</div>
            							<div class="row"  style='margin-left: 20px;'>
            								<div style="display: table;">
            									<div style="display: table-cell;">
            									    {{ form_widget(form.query_interactor) }}
            									</div>
            									<div style="display: table-cell;">
            									<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
            									
            									<div class="hidden">
            										Only show interactions among query proteins.
                                                </div>
            									</div>
            								</div>
            							</div>
            						</div>
            						<div class="col-sm-6">
            						    <div class="row" style='margin: 20px;'>
            								<h4><label>Output</label></h4>
            							</div>
                						<div class="row" style='display: inline-flex; margin: 20px 20px 0px 20px;'>
                							<div class="input-group input-group-sm" style='margin: 0px;'>
                								{{ form_widget(form.text_output) }}
                							</div>
            								<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
        									
        									<div class="hidden">
        										Only provide results as text output, useful if big queries and network display too slow.
                                            </div>
                						</div>
                					</div>
                				</div>	
                				<div class="row">
                					<div class="col-sm-6">
                					    <div class="row" style='display: inline-flex; margin: 20px;'>
            								<h4><label>Tissue Expression</label></h4>
        									<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
        									
        									<div class="hidden">
        										Select the tissue(s) by which you want to filter the results, i.e. only display proteins known to be expressed in the selected tissues (based on GTEx data). See the About section for more details.
                                            </div>
            							</div>
            							<div class="row" style='margin: 20px;'>
                							<div class="border" style="height: 300px; overflow-y: scroll;">
                            					{% for tissue_name, tissue in tissue_array %}
                            					    {% set attr_field = attribute(form, tissue) %}
    
                            					    <div class="row" style='margin: 20px;'>
                            	
                                                 			{{ form_widget(attr_field) }}
                            						</div>
                            						
                        					    {% endfor %}
                    					    </div>
                    					 </div>
                					</div>
                					<div class="col-sm-6">
                					   <div class="row" style='display: inline-flex; margin: 20px;'>
                							<h4 style="font-weight: 700;">Minimum Confidence</br>Score</h4>

                						</div>
                						<div class="row" style='display: inline-flex; margin: 20px;'>
                							<div class="input-group input-group-sm" style='min-width: 120px;' >
                								<div id="min_interaction_score">
                									<div id="min_interaction_score_handle" class="ui-slider-handle"></div>
                								</div>
                								{{ form_widget(form.min_interaction_score) }}
                							</div>
                							<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
        									
        									<div class="hidden">
        										Select a score cutoff to filter out PPIs from the results that display a score below that threshold. See the About section for more details.
                                            </div>
                						</div>
            					        <div class="row" style='margin: 20px;'>
            								<h4><label>Interaction Status</label></h4>
            							</div>
            							<div class="row" style='margin: 20px;'>
            								<div style="display: table">
            								{% for interaction_category in interaction_categories_array %}
                								<div style="display: table-row;">
                									<div style="display: table-cell;">
                                     			        {% set attr_field = attribute(form, interaction_category[1]) %}
                                             			{{ form_widget(attr_field) }}
                                         			
                                         			<h4>{{ form_label(attr_field) }}</h4>
                								    </div>
                								    <div style="display: table-cell;">
                										<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;'></i>
                										<div class="hidden">{{ interaction_category[0].categoryname }}: {{ interaction_category[0].description }}</div>
            										</div>
            									</div>            									
            								{% endfor %}
            								</div>
            							</div>
                					</div>
                				</div>
                					<div class="row hidden">
                						<div class="col-sm-8">
                						
                							<h4>Subcellular Location</h4>
                							<div class="border" style="height: 300px; overflow-y: scroll;">
                            					{% for subcellular_location_name, subcellular_location in subcellular_location_array %}
                            					    {% set attr_field = attribute(form, subcellular_location) %}
                            					    <div class="row" style='margin: 20px;'>
                            	
                                                 			{{ form_widget(attr_field) }}
                            						</div>
                        					    {% endfor %}
                    					    </div>
                    					</div>
                					</div>
                					
            				</div>
        				{{ form_end(form) }}
        			</div>
        		</div>
    			</div>
        	</div>
       </div>
    </div>
   <div class="shadow"></div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %}
	<script>var Url = "{{ url }}";</script>
    <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-387720-9', 'auto');
      ga('send', 'pageview');
    
    </script>
{% endblock %}
