 {% extends 'base.html.twig' %}
{% block stylesheets %}
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/footable/css/footable.core.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/cytoscape.js-panzoom.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/spectrum/spectrum.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/search_results.css') }}">

<link rel='shortcut icon' href='{{ asset('assets/images/tor_ibin_icon.ico') }}' />
<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.disablescroll.min.js') }}"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script>$(window).disablescroll();</script>

{% endblock %}
{% block title %}
{{ short_title }}
| Results
{% endblock%}
{% block main_title %}{{ title }}{% endblock %}
{% block nav %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			{% if login_status == false %}
			<div class="navbar-header tor_ibin_header" >
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 20px; ">
				<ul class="nav navbar-nav ">
					<li><a href="{{ path('home') }}">Home</a></li>
					<li class="active"><a href="{{ path('search_results') }}">Search</a></li>
					<li><a href="{{ path('download') }}">Downloads</a></li>
					<li><a href="{{ path('about') }}">About</a></li>
					<li><a href="{{ path('faq') }}">FAQ</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('user_register') }}">Register</a></li>
					<li style=""><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				</ul>
    		</div>
    		{% elseif login_status == true %}
    				<div class="navbar-header tor_ibin_header" >
						<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} {% if admin_status == true %}Admin{% endif %}</h5>
        				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span>
        				</button>
        			</div>
    			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 20px; " >
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li class="active"><a href="{{ path('search_results') }}">Search</a></li>
    					<li><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    					<li><a href="{{ path('faq') }}">FAQ</a></li>
    					<li><a href="{{ path('contact') }}">Contact</a></li>
    					{% if admin_status == true %}
        					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
        					<li><a href="{{ path('data_manager') }}">Data</a></li>
        					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
        					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
    					{% endif %}
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
    					<li style="margin-left: 0px;"><a href="{{ path('user_logout') }}">Logout</a></li>
    				</ul>
    			</div>
    		{% endif %}
		</div>
	</nav>
	<div class="shadow"></div>
{% endblock %}

{% block content %}

<main id="main">

<div id="overlay_container" style="padding:20px 0px 20px 0px; width:96%">
	<div id="overlay_network_no_ie" class="no_ie" style="display: none">
    	<div class="row" style="display: inline-flex;">
            <h3 style="color: {{ main_color_scheme }}; font-weight: bold;">Internet Explorer is not currently supoported.</br>  </br>Please use Chrome, FireFox or Safari.</h3>
        </div>
	</div>
    <div id="overlay_network_data_request_logged_out" class="overlay_network" style="display:none;">
    	<div id="logged_out_form" class="message_panel">
        	<div class="message_inner_panel">
    			<div class="row">
    				<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Download Unpublished Data</h3>
    				<p style='margin-top: 20px;'>
    					<strong>Please register or login to download unpublished data.</strong>
    				</p>
    			</div>
    			<div class="row" style='margin-top: 30px;padding: 0px 20px 0px 20px;margin-top:40px;'>
    				<div style="padding-left: 0px; float: left;">
    					<a class="btn btn-default" href="{{ path('user_register') }}">Register</a>
    					<a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Login</a>
    				</div>
    				<div style="float: right;">
    					<div class="cancel_data_request btn btn-default" style="float: right;">
    						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
    					</div>
    				</div>
    			</div>
        	</div>
        </div>
    </div>
    <div id="overlay_network_data_request_logged_in" style="display:none;" class="overlay_network">
    	<div id="logged_in_form" class="message_panel">
    		<div class="message_inner_panel">
    			<div class="row">
    				<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Download Unpublished Data</h3>
    			</div>
    			<div class="row" style="vertical-align: middle;">
    				<div style="display:inline-flex;"><input id="recieve_updates_on_interaction_network" name="recieve_updates_on_interaction_network" type="checkbox"/><div style="margin-left: 10px; margin-top: 5px;">Recieve Updates on Interaction Network</div></div>
    				<input id="request_type" class="hidden" value="" />
    			</div>
    			<div class="row" style="padding: 0px 20px 0px 20px;margin-top:40px;">
    				<div style="padding-left: 0px; float: left;">
    					<button id="download_data_link" class="btn btn-default" style="float: left; margin-right: 10px;"><i class="glyphicon glyphicon-download-alt"></i> Download Dataset</button>
    				</div>
    				<div style="float: right;">
    					<div class="cancel_data_request btn btn-default" style="float: right;">
    						<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
    					</div>
    				</div>
    				<a id="data_download" href="" download="" style="display:none;">click</a>
    			</div>
        	</div>		
    	</div>
    </div>
    <div id="overlay_network_cy_rest" class="overlay_network" style="display:none;">
        <div class="message_panel">
        	<div class="message_inner_panel">
        		<div class="row">
        			<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">cyREST Not Active</h3>	
        		</div>
        		<div class="row">
        			<p><strong>To export network to Cytoscape:</strong></p>
        			<ul>
        				<li><a href="http://www.cytoscape.org/">Cytoscape</a> must be installed and open</li>
        				<li>The <a href="http://apps.cytoscape.org/apps/cyrest">cyREST</a> App must be instaled</li>
        			</ul>
        		</div>		
        		<div class="row" style="padding: 0px 40px 0px 20px;">
        			<div style="float: center;">
        				<div class="cancel_cy_message btn btn-default" style="float: center;">
        					<i class="glyphicon glyphicon-ban-circle"></i> <span>Close</span>
        				</div>
        			</div>
        		</div>
            </div>
        </div>		
    </div>
    <div id="overlay_network_loader_image" class="overlay_network" style="visibility: hidden;">
    	<div id="loader_image_panel" class="loader_image_panel">
    		<div id="loader_image_inner_panel">
        		<div class="row">

               </div>
               <div class="row">
               `	<span class='unselectable' style='font-size:20px; font-family: "Ubuntu", sans-serif; color:#e2e2e3;'>Loading Network Data</span>
               </div>
        	</div>
        </div>
    </div>
    <div id="direct_download_message" class="overlay_network" style="display:none;">
		<div id="direct_download_panel">
    		<div id="direct_download_inner_panel">
            	<div class="container">
            		<div class="row">
            			<h3 class="bold" style="text-align: center; color: {{ main_color_scheme }}">Results Ready for Download</h3>
            		</div>
            		<div class="row">
            			<p><strong>The results of your query are available for download below.</strong></p>
            			<p style="display:none;"><strong>Your query returned too many interactions to be display in the portal. The results of your query are available for download below.</strong></p>
            		</div>
            		<div class="row">
            		  <label for="download_format">Download Format:</label>
                      <select class="form-control" id="direct_download_format">
                        <option value='psi_mi_tab'>Interactions (PSI-MI Tab 2.7)</option>
                        <option value='sif'>Interactions (SIF)</option>
                        <option value='interactions_csv'>Interactions (CSV)</option>
                        <option value='interactors_csv'>Interactors (CSV)</option>
                        <option value='fasta'>Protein Sequences (FASTA)</option>
                      </select>
            		</div>	
            		<div class="row">
            			<div style="float: left;">
            				<div id='file_download' class="btn btn-default" style="float: left;">
            					<i class="glyphicon glyphicon glyphicon-save"></i> <span>Download</span>
            				</div>
            			</div>
            			<div style="float: right;">
            				<div class="cancel_many_interactions_message btn btn-default" style="float: left;">
            					<i class="glyphicon glyphicon-ban-circle"></i> <span>Close</span>
            				</div>
            			</div>
            		</div>
            		
            	</div>
            </div>
        </div>		
    </div>
    <div id="network_content">
    <div class="row network_row">
    		<div id="network_menu" class='network_menu'>
    			<nav class="navbar navbar-default"
    				style="min-height: 0px; border: 0px; z-index: 2;">
    				<div class="navbar-header">
    					<button type="button" class="navbar-toggle" data-toggle="collapse"
    						data-target="#cy-nav">
    						<span class="icon-bar"></span> 
    						<span class="icon-bar"></span> 
    						<span class="icon-bar"></span>
    					</button>
    				</div>
    				<div class="container-fluid">
    					<div id="cy-nav" class="collapse navbar-collapse"
    						style="padding-left: 0px;">
    						<ul id="cy_nav_menu_list" class="nav navbar-nav cy-nav">
    							<li id="organism_select_li" class="dropdown network_dropdown"><a id="organism_select_toggle" href="#">Select organism: </a>
    							</li>
								<li id="organism_select_form_li" class="dropdown network_dropdown">
									{{ form_start(organism_form) }}
										{{ form_widget(organism_form.organism_select) }}
									{{ form_end(organism_form) }}
								</li>
								<li id="organism_info_li" class="dropdown network_dropdown">
									<button type="button" class="btn btn-info">Info</button>
								</li>
								<li id="search_dropdown_toggle_li" class="dropdown network_dropdown"><a id="search_dropdown_toggle" href="#">Search <span class="caret"></span></a>
    								<ul id="search_tab" class="dropdown-menu">
    									<li style="padding: 20px 0px 10px 0px; min-width: 400px;" class="search_box">
    										<div class="container">
    											<ul class="nav nav-tabs" style="margin:0px; "href data-target="#productBreakdown">
    												<li class="active"><a data-toggle="tab" data-target="#query" class="search_tabs" style="cursor:pointer;">Query</a></li>
    												<li><a data-toggle="tab" data-target="#interactors" class="search_tabs" style="cursor:pointer;">Interactors</a></li>
    	 										</ul>
    											<div class="tab-content border" style="padding: 20px; width: 100%; border-top: 0px;">
    												<div id="query" class="tab-pane fade in active search_box" style="padding-top: 10px;">
    												    <div class="row">
    														<a id="random_query" style="cursor:pointer;">Random</a>, Examples: <a id="example_query_1" style="cursor:pointer;">1</a>, <a id="example_query_2" style="cursor:pointer;">2</a>, <a id="example_query_3" style="cursor:pointer;">3</a>
    													</div>
    													<div class="row">
    														<textarea id="search_identifier" style="min-height: 100px; width: 90%;"></textarea>
    													</div>
    													<div class="row" style='display: table; width: 100%;'>
    														<div id="all_terms_valid" class="border hidden"
    															style="white-space: nowrap; display: inline-flex; padding: 6px; margin-top: 10px; margin-bottom: 10px;">
    															<i class="glyphicon glyphicon glyphicon-ok"
    																style='margin: 2px 10px 0px 0px;'></i>
    															<div style="margin: 2px 4px 0px 0px;">
    																<span class="number_present_terms"></span> Present in {{ short_title }}
    															</div>
    														</div>
    														<div class="search_terms_not_found_query hidden row"
    															style="white-space: nowrap; display: inline-flex; padding: 0px 6px 6px 6px; margin: 0px;">
    															<h4>
    																Terms Not Present in {{ short_title }}
    															</h4>
    														</div>
    														<div class="row" style="margin: 0px; padding: 0px;">
    															<div id="invalid_terms_array" data=""
    																class="border hidden"
    																style="padding: 10px; margin-top: 10px; max-height: 100px; overflow-x: hidden; overflow-y: scroll;">
    															</div>
    															<div id="remove_invalid_terms"
    																class="invalid_term btn btn-default hidden"
    																style="margin-top: 10px; margin-bottom: 10px;">
    																<i class="glyphicon glyphicon glyphicon-remove" style="margin: 2px 10px 0px 0px;"></i>Remove Terms
    															</div>
    														</div>
                                                             <div class="row" style="border-top:1px solid #cccccc; padding-top:10px;">
                                                             	<input id="filter_parameter_query_query" type="checkbox" name="query_query" value="query_query" style="float: left;">
                        											<div style="margin-left: 25px; margin-top: 5px;">
            														Query-Query
            														<i id='query_query_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c; margin: 1px 0px 0px 10px;'></i>
                    											</div>
                    										</div>
                    										<div class="row" style="padding-top:10px;">
                                                             	<input id="filter_parameter_query_interactor" type="checkbox" name="query_interactor" value="query_interactor" style="float: left;">
                        											<div style="margin-left: 25px; margin-top: 5px;">
            														Query-Interactor
            														<i id='query_interactor_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c; margin: 1px 0px 0px 10px;'>
            														</i>
                    											</div>
                    										</div>
    														<div class="search_terms_not_found hidden row"
    															style="white-space: nowrap; padding: 6px 6px 0 6px; margin: 10px 0px 0px 0px;">
    															<p style="white-space: nowrap; margin: 0px;">
    																Number of Terms Present in
    																{{ short_title }}
    																: <span class="number_present_terms"></span>
    															</p>
    															<p style="white-space: nowrap; margin: 5px 0;">
    																Number of Terms Not Present in
    																{{ short_title }}
    																: <span class="number_not_present_terms"></span>
    															</p>
    														</div>
    													</div>
    												    <div class="row" style="border-top:1px solid #cccccc; padding-top:10px;">
                                                         	<input id="return_data_file" type="checkbox" name="return_data_file" value="return_data_file" style="float: left;">
                    										<div style="margin-left: 25px; margin-top: 5px;">
        														Return Data File
        														<i id="data_file_query_info" class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c; margin: 1px 0px 0px 10px;'>
        														</i>
                											</div>
                										</div>
    													<div class="row" style="border-top:1px solid #cccccc;">
    														<button id="submit_query" class="btn btn-default right" style="margin-right:10%; margin-top:10px;">Update</button>
    													</div>
    												</div>
    												<div id="interactors" class="tab-pane fade search_box">
    													<textarea id="interactor_list" style="min-height: 100px; width: 90%;"></textarea>
    													<div class="row">
    														<div id="all_terms_valid_interactor" class="border hidden" style="white-space: nowrap; display: inline-flex; padding: 6px; margin-top: 10px;">
    															<i class="glyphicon glyphicon glyphicon-ok" style='margin: 2px 10px 0px 0px;'></i>
    															<div style="margin: 2px 4px 0px 0px;"> All <span class="number_present_terms_interactor"></span> Terms Present in {{ short_title }}
    															</div>
    														</div>
    														<div class="search_terms_not_found_interactor hidden row" style="white-space: nowrap; display: inline-flex; padding: 0px 6px 6px 6px; margin: 0px;">
    															<h4>Terms Not Present in {{ short_title }}</h4>
    														</div>
    														<div class="row" style="margin: 0px; padding: 0px;">
    															<div id="invalid_terms_array_interactor" data="" class="border hidden" style="padding: 10px; margin-top: 10px; max-height: 100px; overflow-x: hidden; overflow-y: scroll;">
    															</div>
    															<div id="remove_invalid_terms_interactor" class="invalid_term btn btn-default hidden" style="margin-top: 10px;">
    																<i class="glyphicon glyphicon glyphicon-remove" style="margin: 2px 10px 0px 0px;"></i>Remove Terms
    															</div>
    														</div>
    														<div class="search_terms_not_found_interactor hidden row" style="white-space: nowrap; padding: 6px 6px 0 6px; margin: 10px 0px 0px 0px;">
    															<p style="white-space: nowrap; margin: 0px;">
    																Number of Terms Present in {{ short_title }}
    																: <span class="number_present_terms_interactor"></span>
    															</p>
    															<p style="white-space: nowrap; margin: 5px 0;">
    																Number of Terms Not Present in
    																{{ short_title }}
    																: <span class="number_not_present_terms_interactor"></span>
    															</p>
    														</div>
    													</div>
    													<div class="row" style="border-top:1px solid #cccccc; padding-top:10px;">
                											<input type="checkbox" id="return_data_file_interactor" style="float: left; margin-top: 5px;">
                    											<div style="margin-left: 25px; margin-top: 5px;">
        														Return Data File
        														<i id='data_file_interactor_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c; margin: 1px 0px 0px 10px;'>
        														</i>
                											</div>
                										</div>
    													<div class="row" style="border-top:1px solid #cccccc;">
    														<button id="submit_interactors" class="btn btn-default right" style="margin-right:10%; margin-top:10px;">Update</button>
    													</div>
    												</div>
    											</div>
    									</li>
    								</ul>
    							</li>
    							<li id="filter_dropdown_toggle_li" class="dropdown network_dropdown"><a id="filter_dropdown_toggle" href="#">Filter <span class="caret"></span></a>
    								<ul class="dropdown-menu">
    									<li style="padding: 20px 0px 10px 0px;  width: 600px;" class="no_hover">
        									<div class="container" style="width:95%;">
        										<div class="row">
                									<div class="col-sm-6">
                										<div class="row">
                											<h5 style='float:left;'>Minimum Score</h5>
                											<i id='score_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c; margin: 9px 0px 10px 0px;'>
                    										</i>
                										</div>
                										<div class="row" style="margin-bottom:20px;">
                											<div id="min_interaction_score">
                												<div id="min_interaction_score_handle"
                													class="ui-slider-handle"></div>
                											</div>
                										</div>
                										<div class="row" style="border-top:1px solid #cccccc; padding-top:10px;">
            												<h5 style='float:left;'>Interaction Status</h5>
            												<i id='interaction_status_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c;  margin: 9px 0px 10px 0px;'>
                    										</i>
                										</div>
                										<div class="row">
                											{% for category in interaction_categories_array %}
                												<div style="display:inline-flex;">
                    												<input type="checkbox" id="{{ category['category_name']}}_checkbox" class="checkbox"
                    												name="{{ category['category_name'] }}_checkbox" data="{{ category['category_name'] }}" value="checkbox_{{ category['category_name'] }}"
                    												{% if query_parameters.CategoryArray[category['category_name']][0] == 'true' %}
                    												checked {% endif %}>
                    												<div style="margin-left: 10px; margin-top: 5px;">
                    												    {{ category['category_name']  }}
                    												</div>
                												</div>
                												<br> 
                											{% endfor %}	
                										</div>
                										<div class="row" style="border-top:1px solid #cccccc; padding-top:10px;">
                											<input type="checkbox" id="tissue_expression_node_size" style="float: left; margin-top: 5px;">
                    											<div style="margin-left: 25px; margin-top: 5px;">
                    											Show tissue expression
                    											<i id='tissue_expression_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c;  margin: 0px 0px 10px 0px;'>
                    											</i>
                											</div>
                										</div>
                										<div class="row">               										
                											<input type="checkbox" id="tissue_specificity_node_color" style="float: left; margin-top: 5px;"><div style="margin-left: 25px; margin-top: 5px;">Reflect tissue specificity<i id='tissue_specificity_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c; margin: 1px 0px 0px 10px;'></i></div>
                										</div>
                									</div>	
        											<div class="col-sm-6">
        											{% for array in annotation_form_array %} 					
                                					    <div class="row">
                            								<h4 style='float:left;'><label>{{ array[0] }}</label></h4>
                            								<i id='tissue_expression_filter_info' class='glyphicon glyphicon glyphicon-info-sign' style='cursor: pointer; float:right; color:#8c8c8c;  margin: 2px 0px 10px 0px;'>
                    										</i>
                            							</div>
                            							<div class="border" style="height: 300px; overflow-y: scroll;">
                                  						    {% for name, field in array[2] %}
                        						               <div class="row">
                            						               	<div style='display: inline-flex; padding-left: 10px;'>
                        												<input type="checkbox" id="{{ field }}_checkbox" class="checkbox annotation_checkbox" name="{{ field }}_checkbox" data="{{ field }}" value="checkbox_{{ field }}" {% if query_parameters.AnnotationArray[field] == 'true' %}checked {% endif %}>
                        												<div style="margin-left: 10px; margin-top: 5px;">{{ name }}</div>
                													</div>
            													</div>
                                    						{% endfor %}
                                					    </div>
                                					  {% endfor %}
        											</div>
        										</div>
    											<div class="row" style="border-top:1px solid #cccccc;">
    												<button id="filter_update" class="btn btn-default right" style="margin-right:10%; margin-top:10px;">Update</button>
    											</div>
    										</div>
    									</li>
    								</ul>
    							</li>
    							<li id="layout_dropdown_toggle_li" class="dropdown network_dropdown"><a id="layout_dropdown_toggle" href="#">Layout <span class="caret"></span></a>
    								<ul class="dropdown-menu">
    									<li data="cola" class="menu_item" style="overflow: hidden;"><a data="cola" class='layout link close_dropdown' style="padding: 0px; padding-left: 7px; overflow: hidden;"><div data="cola" style="display:inline-block; float:left;"><div data="cola" style="padding: 3px 5px;float:left;">Cola</div></div><img data="cola" height="20" width="20" style="margin: 2px 10px 0px 5px; vertical-align:middle; float:right;" src="{{ url }}assets/images/cola_layout.png"/></a></li>
        								<li data="cose" class="menu_item" style="overflow: hidden;"><a data="cose" class='layout link close_dropdown' style="padding: 0px; padding-left: 7px; overflow: hidden;"><div data="cose" style="display:inline-block; float:left;"><div data="cose" style="padding: 3px 5px;float:left;">Cose</div></div><img data="cose" height="20" width="20" style="margin: 2px 10px 0px 5px; vertical-align:middle; float:right;" src="{{ url }}assets/images/cose_layout.png"/></a></li>
        								<li data="concentric" class="menu_item" style="overflow: hidden;"><a data="concentric" class='layout link close_dropdown' style="padding: 0px; padding-left: 7px; overflow: hidden;"><div data="concentric" style="display:inline-block; float:left;"><div data="concentric" style="padding: 3px 5px;float:left;">Concentric</div></div><img data="concentric" height="20" width="20" style="margin: 2px 10px 0px 5px; vertical-align:middle; float:right;" src="{{ url }}assets/images/concentric_layout.png"/></a></li>
        								<li data="circle" class="menu_item" style="overflow: hidden;"><a data="circle" class='layout link close_dropdown' style="padding: 0px; padding-left: 7px; overflow: hidden;"><div data="circle" style="display:inline-block; float:left;"><div data="circle" style="padding: 3px 5px;float:left;">Circle</div></div><img data="circle" height="20" width="20" style="margin: 2px 10px 0px 5px; vertical-align:middle; float:right;" src="{{ url }}assets/images/circle_layout.png"/></a></li>
        								<li data="grid" class="menu_item" style="overflow: hidden;"><a data="grid" class='layout link close_dropdown' style="padding: 0px; padding-left: 7px; overflow: hidden;"><div data="grid" style="display:inline-block; float:left;"><div data="grid" style="padding: 3px 5px;float:left;">Grid</div></div><img data="grid" height="20" width="20" style="margin: 2px 10px 0px 5px; vertical-align:middle; float:right;" src="{{ url }}assets/images/grid_layout.png"/></a></li>
    								</ul>
    							</li>
    							<li id="download_dropdown_toggle_li" class="dropdown network_dropdown"><a id="download_dropdown_toggle" href="#">Downloads <span class="caret"></span></a>
    								<div id="unpublished_dataset" class="hidden"></div>
    								<ul class="dropdown-menu">
    									<h5 style="margin: 7px 5px 0px 7px; border-bottom:1px solid #ccc;"><div style="display:inline-flex"><div style="padding: 3px 5px; margin-bottom:5px;">Image</div></div><img height="20" width="30" style="margin: 0px 10px 10px 0px; vertical-align:middle; float:right;" src="{{ url }}assets/images/image_download.png"/></h5>
    									<li><a id='png' class="png link" download="network.png" style="padding-left: 10px;">Image (PNG)</a></li>
    									<h5 style="margin: 7px 5px 0px 7px; border-bottom:1px solid #ccc;"><div style="display:inline-flex"><div style="padding: 3px 5px; margin-bottom:5px;">Network Data</div></div><img height="20" width="30" style="margin: 0px 10px 0px 0px; vertical-align:middle; float:right;" src="{{ url }}assets/images/file_download.png"/></h5>							
    									<li><a id="psi_mitab_interaction" class="data_request_links link close_dropdown" data="psi_mi_tab" style="padding-left: 10px;">Interactions (PSI-MI Tab 2.7)</a></li>
    									<li><a id="sif_interaction" class="data_request_links link close_dropdown" data="sif" style="padding-left: 10px;">Interactions (SIF)</a></li>
    									<li><a id="csv_interaction" class="data_request_links link close_dropdown" data="interactions_csv" style="padding-left: 10px;">Interactions (CSV)</a></li>
    									<li><a id="csv_interactor" class="data_request_links link close_dropdown" data="interactors_csv" style="padding-left: 10px;">Interactors (CSV)</a></li>
    									<li><a id="fasta" class="data_request_links link close_dropdown" data="fasta" style="padding-left: 10px;">Protein Sequences (FASTA)</a></li>
    								</ul>
    							</li>
    							<li id="external_links_dropdown_toggle_li" class="dropdown network_dropdown"><a id="external_links_dropdown_toggle" href="#">External Links <span class="caret"></span></a>
    								<ul class="dropdown-menu">
    							        <li id="gprofiler_link_li" class="close_dropdown menu_item"></li>
            							<li id="reactome_link_li" class="close_dropdown menu_item"></li>
            							<li id="gene_mania_link_li" class="close_dropdown menu_item"></li>
            							<li id="pathway_commons_link_li" class="close_dropdown menu_item"></li>
            							<li id="david_link_li" class="close_dropdown menu_item"></li>	
            							<li id="string_link_li" class="close_dropdown menu_item"></li>
            							<li id="cbioportal_link_li" class="close_dropdown menu_item"></li>
            							<li id="complex_portal_link_li" class="close_dropdown menu_item"></li>	
            							<li id="intact_link_li" class="close_dropdown menu_item"></li>						
    								</ul></li>	
    							</ul>
    						<ul id="cy_nav_menu_list_legend" class="nav navbar-nav cy-nav-right navbar-right ">
    						
    								<li id="summary_dropdown_toggle_li" class="dropdown network_dropdown"><a id="summary_dropdown_toggle"  href="#">Summary <span class="caret"></span></a>
        								<ul id="search_tab" class="dropdown-menu">
        									<li style="padding: 20px 0px 10px 0px;  min-width: 400px;" class="search_box">
            									<div class="container">
            											<div id="summary" >
                                            				<div class="row">
                                            					<h4 style="color: {{ main_color_scheme }}; font-weight: bold;">Search Query</h4>
                                            				</div>
                                            				<div class="row">
                                            					<strong>Proteins Found: </strong>
                                            					<div id="proteins_found_summary" style="border:1px solid #cccccc; height:80px; overflow: auto;"></div>
                                            				</div>
                                            				<div class="row">
                                            					<strong>Proteins Not Found: </strong>
                                            					<div id="proteins_not_found_summary" style="border:1px solid #cccccc; height:80px; overflow: auto;"></div>
                                            				</div>
                                            				<div class="row">
                                            					<strong>Proteins Filtered Out: </strong>
                                            					<div id="proteins_filtered_out_summary" style="border:1px solid #cccccc; height:80px; overflow: auto;"></div>
                                            				</div>
                                            				<div class="row">
                                            					<h4 style="color: {{ main_color_scheme }}; font-weight: bold;">Statistics</h4>
                                            				</div>
                                            				<div class="row">
                                            					<strong>Number of Proteins: </strong>
                                            					<div id="node_number"  style="display: inline"></div>
                                            				</div>
                                            				<div class="row">
                                            					<strong>Number of Interactions: </strong>
                                            					<div id="edge_number"  style="display: inline"></div>
                                            				</div>
                                            				<div class="row">
                                            					<strong>Average Node Degree: </strong>
                                            					<div id="average_node_degree"  style="display: inline"></div>
                                            				</div>
                                            			<br class="clear" />
                                            		</div>
            									</div>
        									</li>
        								</ul>
        							</li>
    								<li id="legend_dropdown_toggle_li" class="dropdown open"><a href="#">Legend <span class="caret"></span></a>
    								<ul class="dropdown-menu" style="padding: 10px; width:200px;">
    									<li >        						
    									
    									<div style="display: table">
    									<div style="display: table-row;">
            								<div style="display: table-cell;">
            									<strong>Query:</strong>
            								</div>
            								<div style="display: table-cell;">
            									<div
            										style="width: 13px; height: 13px; border-radius: 50%; margin: 0px 0px 0px 6px; background: #cc0000"></div>
            								</div>
            							</div>
            							<div style="display: table-row;">
            								<div style="display: table-cell;">
            									<strong>Interactor:</strong>
            								</div>
            								<div style="display: table-cell;">
            									<div
            										style="width: 13px; height: 13px; border-radius: 50%; margin: 2px 0px 0px 6px; background: #3c78d8"></div>
            								</div>
            							</div>
            							
            							
            							{% for interaction_category in interaction_categories_array %}
                							<div style="display: table-row;">
                								<div style="display: table-cell;">
                									<strong>{{ interaction_category['category_name'] }}:</strong>
                								</div>
                								<div style="display: table-cell;">
                									<div
                										style="width: 60px; height: 6px; margin: 0px 0px 2px 6px; background: {{ interaction_category['color_scheme'] }}"></div>
                								</div>
                							</div>
            							{% endfor %}
                						<div style="display: table-row;">
            								<div style="display: table-cell;">
            									<strong>HuRI and Literature:</strong>
            								</div>
            								<div style="display: table-cell;">
            									<div
            										style="width: 60px; height: 6px; margin: 0px 0px 2px 6px; background: #ff55dd"></div>
            								</div>
            							</div>
            						</div></li>
    								
    								</ul>
    							</li>
    						</ul>
    					</div>
    				</div>
    			</nav>
    		</div>

    </div>
        <div class="row network_row" >
        		<div>
        			<div id='cy'><div id="no_interactions_found" class="hidden" style="text-align: center; z-index:1000;"><img id="huri_img" width=314 height=188 src="{{ url }}assets/images/huri_image2.png" style="display:none;"/></div></div>			
        			<button id="export_cy" class="btn btn-default hidden" style="position: absolute; left: 40px; bottom: 40px; z-index: 2"><img src="{{ url }}assets/images/cy3logoOrange.svg" width="34px" height="38px"/></button> 
        			<button id="toggle_hover_highlighting_cy" class="btn btn-default hidden" style="position: absolute; left: 40px; bottom: 100px; z-index: 2"><img id="toggle_hover_image" src="{{ url }}assets/images/hover_highlight3.png" width="34px" height="38px"/></button> 
        		</div>
        		<div id='no_cy' class="hidden" >
        			<div style="margin-top: 40px; text-align: center;"><h4>Interaction Network too Large to Display</h4></div>
        		
        		</div>
        	</div>
    </div>
</div>
<div class="shadow"></div>

<div id="overlay_container_network_table">
<div id="overlay_network_table" style="display: none">
</div>
<div class="row result_row"
	style="background-color: #f0f0f1; margin-bottom: 0px; overflow: auto;">
	<div class="tab-content" style="padding-top: 0;">
			<div id="network" class="border tab-pane fade in active"
			style="padding-top: 0;">
		<div class="row " style="border-bottom: 1px solid #ccc; background-color: #F8F8F8; margin: 0px;">
				<div id="target" class="col-sm-12" style="padding: 0px;">

    				<div class="navbar-header" style="display: table; width: 100%;">
    					<div style="text-align: left; display: table-cell; vertical-align: middle;">
    						<h4 id="selected_network_table_tab" style="color: {{ main_color_scheme }}; font-weight: bold; margin-left: 16px; ">Interactions</h4>
    					</div>
    					<div style="text-align: right; display: table-cell;">
        					<button  id="collapse_menu" type="button" class="info-navbar-toggle" data-toggle="collapse"
        						data-target="#interaction_info">
        						<span class="icon-bar"></span> 
        						<span class="icon-bar"></span> 
        						<span class="icon-bar"></span>
        					</button>
    					</div>
    				</div>
    				<div class="container-fluid" style="padding: 0px;">
    					<div id="interaction_info" class="collapse navbar-collapse" style="padding: 0px;">
        					<ul id="network_table_tabs" class="nav navbar-nav" style="margin: 0px; background: #ffffff; border-top: 1px solid #ccc;">
        						<li id="interactions_network_table_tab_list" class="active network_table_tab_list"><a id="interactions_tab" class="network_table_tab" data-toggle="tab" href="#interactions"><strong>Interactions</strong></a></li>
        						<li class="network_table_tab_list"><a id="interactor_tab" class="network_table_tab" data-toggle="tab" href="#interactor_list_table"><strong>Interactors</strong></a></li>	
        						<li class="network_table_tab_list"><a class="network_table_tab" data-toggle="tab" href="#go_enrichment"><strong>GO Enrichment</strong></a></li>	
        						<li class="network_table_tab_list"><a class="network_table_tab" data-toggle="tab" href="#pathways"><strong>Pathway Enrichment</strong></a></li>			
        						<li class="network_table_tab_list"><a class="network_table_tab" data-toggle="tab" href="#complexes"><strong>Complex Enrichment</strong></a></li>
        						{% for annotation_type in annotation_types %}
        							{% if annotation_type.ShowInTable == 1 %}
            							<li class="network_table_tab_list"><a class="network_table_tab" data-toggle="tab" href="#{{ annotation_type.Type }}"><strong>{{ annotation_type.Label }}</strong></a></li>
        						    {% endif %}
        						{% endfor %}
        					</ul>
    					</div>
    				</div>
    			</div>
			</div>
			<div class="tab-content" style="padding: 0px; width: 100%">
				<div id="interactions" class="network_table_tab_pane tab-pane fade in active" style="padding-top: 0;">
					<div class="row "
						style="border-bottom: 1px solid #ccc; background-color: #F8F8F8; margin: 0px; padding: 6px;">
						<div class="col-sm-4">
							<div class="input-group input-group-sm"
								style="margin-bottom: 0px; margin-top: 3px;">
								<lable for="change-page-size"
									style="margin-right: 10px; color: {{ main_color_scheme }};">Page
								Size:</lable>
								<select id="change-page-size">
									<option value="10" selected>10</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="10000">All</option>
								</select>
							</div>
						</div>
						<div class="col-md-8"">
							<input type="text" id="filter" placeholder="Search" />
						</div>
					</div>
					<div class="container">
					<table id="search_result_table" class="footable table"
                    	data-filter="#filter" data-filtering="true" data-paging="true"
                    	data-filter-minimum="3" data-limit-navigation="5" style="max-width: 700px;">
                    	<thead>
                    		<tr>
                    			<th><nobr>Interactor A</nobr></th>
                    			<th><nobr>Interactor B</nobr></th>
                    			<th>Score</th>
                    			<th data-sort-ignore="true">Dataset</th>
                    		</tr>
                    	</thead>
                    	<tbody id="interaction_rows">
                    	</tbody>
                    	<tfoot>
                    		<tr>
                    			<td colspan="5" style="text-align: center;">
                    				<div class="pagination pagination-centered"></div>
                    			</td>
                    		</tr>
                    	</tfoot>
                    </table>
					<div id="hide_rows" hidden></div>
					<div id="protein_qtips" hidden></div>

					</div>
				</div>
				<div id="interactor_list_table" class="network_table_tab_pane tab-pane fade"
					style="padding-top: 0;">
					<div class="row "
						style="border-bottom: 1px solid #ccc; background-color: #F8F8F8; margin: 0px; padding: 6px;">
						<div class="col-sm-4">
							<div class="input-group input-group-sm"
								style="margin-bottom: 0px; margin-top: 3px;">
								<lable for="change-page-size_interactor"
									style="margin-right: 10px; color: {{ main_color_scheme }};">Page Size:</lable>
								<select id="change-page-size_interactor">
									<option value="10" selected>10</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="10000">All</option>
								</select>
							</div>
						</div>
						<div class="col-md-8"">
							<input type="text" id="filter_interactor" style="float: right;" placeholder="Search" />
						</div>
					</div>
					<div class="container">
					<table id="search_result_table_interactor" class="footable table"
                    	data-filter="#filter_interactor" data-filtering="true" data-paging="true"
                    	data-filter-minimum="3" data-limit-navigation="5" style="max-width: 700px;">
        				<colgroup>
							<col span="1" style="width: 25%;">
							<col span="1" style="width: 25%;">
							<col span="1" style="width: 25%;">
							<col span="1" style="width: 25%;">
						</colgroup>
                    	<thead>
                    		<tr>
                    			<th><nobr>Gene Name</nobr></th>
                    			<th data-type="numeric" data-sorted="true"><nobr>Interactions</br>in Network</nobr></th>
                    			<th data-type="numeric" data-sorted="true"><nobr>Interactions</br>in Database</nobr></th>
                    			<th data-type="numeric" data-sorted="true"><nobr>Ratio Network/Database</nobr></th>
                    		</tr>
                    	</thead>
                    	<tbody id="interactor_rows">
                    	</tbody>
                    	<tfoot>
                    		<tr>
                    			<td colspan="5" style="text-align: center;">
                    				<div class="pagination pagination-centered"></div>
                    			</td>
                    		</tr>
                    	</tfoot>
                    </table>
					<div id="hide_rows" hidden></div>
					<div id="protein_qtips" hidden></div>
					</div>
				</div>
				<div id="go_enrichment" class="network_table_tab_pane tab-pane fade" style="padding-top: 0;">
					<ul class="nav nav-pills"
						style="margin: 0px; border-bottom: 1px solid #ccc;">
						<li class="active"><a data-toggle="pill"
							href="#bioiogical_process">Bioiogical Process</a></li>
						<li><a data-toggle="pill" href="#molecular_function">Molecular
								Function</a></li>
						<li><a data-toggle="pill" href="#cellular_component">Cellular
								Component</a></li>
					</ul>
					<div class="tab-content" style="padding: 0px;">
						<div id="bioiogical_process" class="tab-pane fade in active"
							style="padding: 0px; border: 0px;">
							<div class="row">
								<table data-paging="true" data-limit-navigation="5" class="footable table" style="max-width: 700px;">
									<colgroup>
										<col span="1" style="width: 20%;">
										<col span="1" style="width: 60%;">
										<col span="1" style="width: 20%;">
									</colgroup>
									<thead>
										<tr>
											<th  data-sort-ignore="true">GO Term Code</th>
											<th>GO Term</th>
											<th data-sorted="true" data-sort-value="number">p-value</th>

										</tr>
									</thead>
									<tbody  id="BP_table" class="enrichment_table">
									</tbody>
									<tfoot>
        								<tr>
        									<td colspan="5" style="text-align: center;">
        										<div class="pagination pagination-centered"></div>
        									</td>
        								</tr>
        							</tfoot>
								</table>
							</div>
						</div>
						<div id="molecular_function" class="tab-pane fade"
							style="padding: 0px; border: 0px;">
							<div class="row">
								<table  data-paging="true" data-limit-navigation="5" class="footable table" style="max-width: 700px;">
									<colgroup>
										<col span="1" style="width: 20%;">
										<col span="1" style="width: 60%;">
										<col span="1" style="width: 20%;">
									</colgroup>
									<thead>
										<tr>
											<th  data-sort-ignore="true">GO Term Code</th>
											<th>GO Term</th>
											<th data-sorted="true" data-sort-value="number">p-value</th>
										</tr>
									</thead>
									<tbody id="MF_table" class="enrichment_table">
									</tbody>
									<tfoot>
        								<tr>
        									<td colspan="5" style="text-align: center;">
        										<div class="pagination pagination-centered"></div>
        									</td>
        								</tr>
        							</tfoot>
								</table>
							</div>
						</div>
						<div id="cellular_component" class="tab-pane fade"
							style="padding: 0px; border: 0px;">
							<div class="row">
								<table data-paging="true" data-limit-navigation="5"  class="footable table" style="max-width: 700px;">
									<colgroup>
										<col span="1" style="width: 20%;">
										<col span="1" style="width: 60%;">
										<col span="1" style="width: 20%;">
									</colgroup>
									<thead>
										<tr>
											<th  data-sort-ignore="true">GO Term Code</th>
											<th>GO Term</th>
											<th data-sorted="true" data-sort-value="number">p-value</th>
										</tr>
									</thead>
									<tbody id="CC_table" class="enrichment_table">
									</tbody>
									<tfoot>
        								<tr>
        									<td colspan="5" style="text-align: center;">
        										<div class="pagination pagination-centered"></div>
        									</td>
        								</tr>
        							</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div id="pathways" class="network_table_tab_pane tab-pane fade" style="padding-top: 0;">
    				<div class="tab-content" style="padding: 0px; width: 100%">
    

    							<div class="row">
    								<table data-paging="true" data-limit-navigation="5" class="footable table" style="max-width: 700px;">
    									<colgroup>
    										<col span="1" style="width: 20%;">
    										<col span="1" style="width: 60%;">
    										<col span="1" style="width: 20%;">
    									</colgroup>
    									<thead>
    										<tr>
    											<th data-sort-ignore="true">Reactome ID</th>
    											<th>Pathway</th>
    											<th data-sort-value="number" >p-value</th>
    										</tr>
    									</thead>
    									<tbody  id="rea_table"  class="enrichment_table">
    									</tbody>
    									<tfoot>
            								<tr>
            									<td colspan="5" style="text-align: center;">
            										<div class="pagination pagination-centered"></div>
            									</td>
            								</tr>
            							</tfoot>
    								</table>
    							</div>
    						</div>

    				</div>
    				<div id="complexes" class="network_table_tab_pane tab-pane fade" style="padding-top: 0;">
    					<div class="tab-content" style="padding: 0px; width: 100%">
    

    							<div class="row">
    								<table data-paging="true" data-limit-navigation="5"  class="footable table" style="max-width: 700px;">
    									<colgroup>
    										<col span="1" style="width: 25%;">
    										<col span="1" style="width: 60%;">
    										<col span="1" style="width: 15%;">
    									</colgroup>
    									<thead>
    										<tr>
    											<th data-sort-ignore="true">CORUM ID</th>
    											<th>Complex</th>
    											<th data-sort-value="number">p-value</th>
    										</tr>
    									</thead>
    									<tbody  id="cor_table"  class="enrichment_table">
    									</tbody>
    									<tfoot>
            								<tr>
            									<td colspan="5" style="text-align: center;">
            										<div class="pagination pagination-centered"></div>
            									</td>
            								</tr>
            							</tfoot>
    								</table>
    							</div>
    						</div>

    				</div>
        			{% for annotation_type in annotation_types %}
            			{% if annotation_type.ShowInTable == 1 %}
        					<div id="{{ annotation_type.Type }}" class="network_table_tab_pane tab-pane fade" style="padding-top: 0;">
            					<div class="tab-content" style="padding: 0px; width: 100%">
        							<div class="row">
        								<table data-paging="true" data-limit-navigation="5"  class="footable table" style="max-width: 700px;">
        									<colgroup>
        										<col span="1" style="width: 100%;">
        									</colgroup>
        									<thead>
        										<tr>
        											<th>{{ annotation_type.FilterName }}</th>
        										</tr>
        									</thead>
        									<tbody  id="{{ annotation_type.Type }}_table"  class="enrichment_table">
        									</tbody>
        									<tfoot>
                								<tr>
                									<td colspan="5" style="text-align: center;">
                										<div class="pagination pagination-centered"></div>
                									</td>
                								</tr>
                							</tfoot>
        								</table>
        							</div>
        						</div>
        					</div>
        				{% endif %}	 
					{% endfor %}     				
				</div>
			</div>
		</div>
	</div>
</div>
<div class="shadow" style="height: 1px;"></div>
</main>
<main id="main_text_output" style="display: none; background: #ffffff;">
<div style="padding: 10px; background: #f0f0f0;">
<button id="download" class="btn btn-default" style="background: #f8f8f8;">Download</button>
</div>
<div class="shadow" style="margin-bottom: 10px;"></div>
<div id="text_output">

</div>
<div class="shadow" style="margin-top: 10px; height: 1px;"></div>
</main>

<footer>
	<div class="row" style="background: #f9f8f8;">
		{{ footer | raw }}
	</div>
	
</footer>

{% endblock %}
{% block javascripts %}
<script>
var CategoryArray = {{ interaction_categories_array|json_encode|raw }};

var queryParameters = new Object();
queryParameters.CategoryParameterArray = {{ query_parameters.CategoryArray|json_encode|raw }};
queryParameters.TissueExpressionParameterArray = {{ query_parameters.TissueExpressionArray|json_encode|raw }};
queryParameters.SubcellularLocationExpressionArray = {{ query_parameters.SubcellularLocationExpressionArray|json_encode|raw }};
queryParameters.ScoreParameter = {{ query_parameters.ScoreParameter }};
queryParameters.SearchTerm = "{{ query_parameters.SearchTermParameter }}";
queryParameters.TextOutput = "{{ query_parameters.TextOutput }}";
queryParameters.AnnotationParameterArray = {{ query_parameters.AnnotationArray|json_encode|raw }};
queryParameters.SearchTermParameter = "{{ query_parameters.SearchTermParameter }}";
queryParameters.FilterParameter = {{ query_parameters.FilterParameter|json_encode|raw  }};
queryParameters.SearchTermArray = {{ query_parameters.SearchTermArray|json_encode|raw  }};


var CategoryParameterArray = {{ query_parameters.CategoryArray|json_encode|raw }};
var TissueExpressionParameterArray = {{ query_parameters.TissueExpressionArray|json_encode|raw }};
var SubcellularLocationExpressionArray = {{ query_parameters.SubcellularLocationExpressionArray|json_encode|raw }};
var AnnotationParameterArray = {{ query_parameters.AnnotationArray|json_encode|raw }};

var ScoreParameter = {{ query_parameters.ScoreParameter }};
var SearchTerm = "{{ query_parameters.SearchTermParameter }}";
var TextOutput = "{{ query_parameters.TextOutput }}";
var AnnotationArray = {{ query_parameters.AnnotationArray|json_encode|raw }};
var AnnotationTypes = {{ annotation_types|json_encode|raw }};
var AnnotationTypesArray = {{ annotation_types_array|json_encode|raw }};
var SearchResultsJSON = JSON.parse({{ json|json_encode|raw }});
var QueryNodeColor = "{{ query_node_color }}";
var InteractorNodeColor = "{{ interactor_node_color }}";
var MainColorScheme = "{{ main_color_scheme }}";
var loggedIn = "{{ login_status }}";
var Url = "{{ url }}";
var Version = "{{ version }}";

</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('bundles/footable/demos/js/bootstrap-tab.js') }}"></script>
<script src="{{ asset('bundles/footable/demos/js/demos.js') }}"></script>
<script src="{{ asset('bundles/footable/js/footable.js') }}"></script>
<script src="{{ asset('bundles/footable/js/footable.paginate.js') }}"></script>
<script src="{{ asset('bundles/footable/js/footable.filter.js') }}"></script>
<script src="{{ asset('bundles/footable/js/footable.sort.js') }}"></script>
<script src="{{ asset('assets/js/cytoscape.min.js') }}"></script>
<script src="{{ asset('assets/js/cytoscape-qtip.js') }}"></script>
<script src="{{ asset('assets/js/cytoscape-panzoom.js') }}"></script>
<script src="{{ asset('assets/js/cytoscape-expand-collapse.js') }}"></script>
<script src="{{ asset('assets/js/cola.js') }}"></script>
<script src="{{ asset('assets/js/cytoscape-cola.js') }}"></script>
<script src="{{ asset('assets/js/cytoscape-euler.js') }}"></script>
<script src="{{ asset('assets/js/jquery.qtip.min.js') }}"></script>
<script src="{{ asset('bundles/spectrum/spectrum.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.0/readmore.js') }}"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/search_results.js') }}"></script>
<script
	src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}">
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-387720-9', 'auto');
  ga('send', 'pageview');

</script>
<script>$(window).disablescroll("undo")</script>
{% endblock %}
