{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
{% endblock %}
{% block title %}{{ short_title }} | Search{% endblock %}
{% block main_title %}{{ title }}{% endblock %}
{% block nav %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			{% if login_status == false %}
			<div class="navbar-header tor_ibin_header" >
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }}</h5>
				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 0px;">
				<ul class="nav navbar-nav ">
					<li><a href="{{ path('home') }}">Home</a></li>
					<li class="active"><a href="{{ path('search') }}">Search</a></li>
					<li><a href="{{ path('download') }}">Downloads</a></li>
					<li><a href="{{ path('about') }}">About</a></li>
					<li><a href="{{ path('faq') }}">FAQ</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('user_register') }}">Register</a></li>
					<li style=""><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				</ul>
    		</div>
    		{% elseif login_status == true %}
    				<div class="navbar-header tor_ibin_header" >
						<h5 class="nav-header" style="color: {{ main_color_scheme }}">{{ short_title }} {% if admin_status == true %}Admin{% endif %}</h5>
        				<button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#myNavbar" style="margin-left: 30px;" >
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span> 
        					<span class="icon-bar"></span>
        				</button>
        			</div>
    			<div id="myNavbar" class="collapse navbar-collapse" style="padding-left: 0px;">
    				<ul class="nav navbar-nav ">
    					<li><a href="{{ path('home') }}">Home</a></li>
    					<li class="active"><a href="{{ path('search') }}">Search</a></li>
    					<li><a href="{{ path('download') }}">Downloads</a></li>
    					<li><a href="{{ path('about') }}">About</a></li>
    					<li><a href="{{ path('faq') }}">FAQ</a></li>
    					<li><a href="{{ path('contact') }}">Contact</a></li>
    					{% if admin_status == true %}
        					<li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
        					<li><a href="{{ path('data_manager') }}">Data</a></li>
        					<li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
        					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
    					{% endif %}
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
    					<li style="margin-left: 0px;"><a href="{{ path('user_logout') }}">Logout</a></li>
    				</ul>
    			</div>
    		{% endif %}
		</div>
		<div class="shadow"></div>
	</nav>
{% endblock %}
{% block content %}
<main style="background-color: #EEEEEE;">
    <div class="container" >
        <div class="row" >
        	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
        		<div class="search_inner_panel" >
        			<div class="row search_header" style="background: {{ main_color_scheme }}">
        				<h4 style="color: {{ header_color_scheme }}">
        					<strong>Search {{ short_title }}</strong>
        				</h4>
        				
        			</div>
        			<div class="row search_content  search_panel"
        				style="background-color: #FFFFFF">
        				<div class="col-lg-12">
    
        					{{ form_start(form) }}
        					<div class="row" style='width: 84%; margin: 20px;'>
        						<div class="col-sm-4">
        							
        						</div>
        						<div class="col-sm-8">
            						<div id="examples">
        								Examples:
            							<a id="example_1" href='#'  class='string_example example_small' onclick='$("#search_identifier").val("{{ example_3 }}"); validateSearchTerms();'>#1</a>
            							<a id="example_2" href='#' class='string_example example_small' onclick='$("#search_identifier").val("{{ example_2 }}"); validateSearchTerms();'>#2</a>
                						<a id="example_3" href='#' class='string_example example_small' onclick='$("#search_identifier").val("{{ example_1 }}"); validateSearchTerms();'>#3</a> 
            						</div>
        						</div>
        					</div>
    
        					<div class="row" style='margin: 20px; display: table;  width: 84%; '>
        						<div style="display: table-row;">
            						<div style="display: table-cell;">
            						
                						<div class="input-group input-group-sm" style="margin: 0px; width: 100%;">
                							{{ form_widget(form.identifier) }} 
    
                						</div>
                						
            						</div>
    
                                </div>
        					</div>
        					
    						<div class="row" style='margin: 20px; display: table; width: 84%; '>
    						    <div class="col-sm-10" style="text-align: left;">
    								<a id="advanced" data-toggle="collapse" data-target="#advanced_search" class="" style="cursor: pointer;">Advanced</a>
    							</div> 
    							<div class="col-sm-2">
        							<div style="display: table-row;">
                						<div style="display: table-cell;">
                						
                    						<div class="input-group input-group-sm" style="margin: 0px; width: 100%;">
                    							<span class="input-group-btn">
                    								<button type="submit" class="btn btn-success" type="button" id="search_btn" style="background: {{ button_color_scheme }}">Search</button>
                    							</span>
                    						</div>
                    						
                						</div>
                					
                    					<div style="display: table-cell; padding-top: 6px; vertical-align: middle;" >
                							<i class="help_query glyphicon glyphicon-question-sign" style='margin: 0px 0px 0px 10px;'></i>
                								
                							<div class="hidden">
                								Enter a gene name or Uniprot Id. Multiple search terms can be added seperated by a new line, comma, space, or tab. 
                								A list of suggested proteins will appear after 2 characters are entered.
                								
                                            </div>
                                        </div>
                                    </div>
                                
                              </div>
    
    
    						    <div class="row" style='display: table; width: 100%; '>
                                	<div class="col-sm-8">
                                	<div id="all_terms_valid" class="border hidden" style="white-space:nowrap; display: inline-flex; padding: 6px; margin-top: 10px;">
                                        <i class="glyphicon glyphicon glyphicon-ok" style='margin: 2px 10px 0px 0px;'></i>
                                        <div style="margin: 2px 4px 0px 0px;">All <span class="number_present_terms"></span> Terms Present in {{ short_title }}</div>
                                	</div>
                                	<div class="search_terms_not_found hidden row" style=" white-space:nowrap; display: inline-flex; padding: 0px 6px 6px 6px; margin: 0px;">
                                        <h4>Terms Not Present in {{ short_title }}</h4>
                                	</div>
                                	<div class="row" style="margin: 0px; padding: 0px;">
                                	<div id="invalid_terms_array" data="" class="border hidden" style="padding:10px ; margin-top:10px; max-height: 100px; overflow-x: hidden; overflow-y: scroll;" >
                                	
                                	</div>
                                	<div id="remove_invalid_terms" class="invalid_term btn btn-default hidden" style="margin-top:10px;"><i class="glyphicon glyphicon glyphicon-remove" style="margin: 2px 10px 0px 0px;"></i>Remove Terms</div>
                                	 
                               	 	</div>
                               	 	
                               	 	<div class="search_terms_not_found hidden row" style=" white-space:nowrap;  padding: 6px 6px 0 6px; margin: 10px 0px 0px 0px;">
                                        <p style=" white-space:nowrap; margin: 0px;">Number of Terms Present in {{ short_title }}: <span class="number_present_terms"></span></p>
                                        <p style=" white-space:nowrap; margin: 5px 0;">Number of Terms Not Present in {{ short_title }}: <span class="number_not_present_terms"></span></p>
                                	</div>
                                	</div>
                               </div>	
    							
    						</div>
    						<div id="advanced_search" class="collapse">
        						<div class="row">
                					<div class="col-sm-6">
            					    	<div class="row" style='margin: 20px;'>
            								<h4><label>Filter Interactions</label></h4>
            							</div>
            							<div class="row"  style='margin-left: 20px;'>
            								<div style="display: table;">
            									<div style="display: table-cell;">
            									    {{ form_widget(form.query_query) }}
            									</div>
            									<div style="display: table-cell;">
            									<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
            									
            									<div class="hidden">
            										Only show interactions among query proteins.
                                                </div>
            									</div>
            								</div>
            							</div>
            							<div class="row"  style='margin-left: 20px;'>
            								<div style="display: table;">
            									<div style="display: table-cell;">
            									    {{ form_widget(form.query_interactor) }}
            									</div>
            									<div style="display: table-cell;">
            									<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
            									
            									<div class="hidden">
            										Only show direct interactions with query proteins.
                                                </div>
            									</div>
            								</div>
            							</div>
            						</div>
            						<div class="col-sm-6">
            						    <div class="row" style='margin: 20px;'>
            								<h4><label>Output</label></h4>
            							</div>
                						<div class="row" style='display: inline-flex; margin: 20px 20px 0px 20px;'>
                							<div class="input-group input-group-sm" style='margin: 0px;'>
                								{{ form_widget(form.text_output) }}
                							</div>
            								<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
        									
        									<div class="hidden">
        										Only provide results as text output, useful if big queries and network display too slow.
                                            </div>
                						</div>
                					</div>
                				</div>	
                				<div class="row">
                					<div class="col-sm-6">
                					{% for array in annotation_form_array %}
                					
                					    <div class="row" style='display: inline-flex; margin: 20px;'>
            								<h4><label>{{ array[0] }}</label></h4>
        									<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
        									
        									<div class="hidden">
                                                {{ array[1] }}
                                            </div>
            							</div>
            							<div class="row" style='margin: 20px;'>
                							<div class="border" style="height: 300px; overflow-y: scroll;">
                      							{% for field in array[2] %}
                        					
                        					    {% set attr_field = attribute(form, field) %}

                        					    <div class="row" style='margin: 20px;'>
                        	
                                             			{{ form_widget(attr_field) }}
                        						</div>
                        						{% endfor %}
                    					    </div>
                    					 </div>
                    					 
                    					  {% endfor %}
                    					 
                					</div>
                					<div class="col-sm-6">
                					   <div class="row" style='display: inline-flex; margin: 20px;'>
                							<h4 style="font-weight: 700;">Minimum Confidence</br>Score</h4>

                						</div>
                						<div class="row" style='display: inline-flex; margin: 20px;'>
                							<div class="input-group input-group-sm" style='min-width: 120px;' >
                								<div id="min_interaction_score">
                									<div id="min_interaction_score_handle" class="ui-slider-handle"></div>
                								</div>
                								{{ form_widget(form.min_interaction_score) }}
                							</div>
                							<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;' ></i>
        									
        									<div class="hidden">
        										Select a score cutoff to filter out PPIs from the results that display a score below that threshold. See the About section for more details.
                                            </div>
                						</div>
            					        <div class="row" style='margin: 20px;'>
            								<h4><label>Interaction Status</label></h4>
            							</div>
            							<div class="row" style='margin: 20px;'>
            								<div style="display: table">
            								{% for interaction_category in interaction_categories_array %}
                								<div style="display: table-row;">
                									<div style="display: table-cell;">
                                     			        {% set attr_field = attribute(form, interaction_category[1]) %}
                                             			{{ form_widget(attr_field) }}
                                         			
                                         			<h4>{{ form_label(attr_field) }}</h4>
                								    </div>
                								    <div style="display: table-cell;">
                										<i class="help_query glyphicon glyphicon-question-sign" style='margin-left: 20px;'></i>
                										<div class="hidden">{{ interaction_category[0].categoryname }}: {{ interaction_category[0].description }}</div>
            										</div>
            									</div>            									
            								{% endfor %}
            								</div>
            							</div>
                					</div>
                				</div>
                					
            				</div>
        				{{ form_end(form) }}
        			</div>
        		</div>
    			</div>
        	</div>
       </div>
    </div>
   <div class="shadow"></div>
</main>
<footer>
	<div class="shadow"></div>
	{{ footer | raw }}
</footer>
{% endblock %} 
{% block javascripts %}
	<script>
		var Url = "{{ url }}";
		var InteractionCategories = {{ interaction_categories_array|json_encode|raw }}; 
	</script>
    <script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}
