{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../assets/css/jquery-ui.min..css">
	<link rel="stylesheet" href="../../../assets/css/main.css">
	<link rel="stylesheet" href="../../../assets/css/search.css">
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
     <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
     <script>
	     $(function() {
		     var availableTags = [
		     "United States",
		     "France",
		     "Germany",
		     "China",
		     "Australia",
		     "England",
		     "Saouth Korea",
		     "India"
		     ];
		     $( "#identifier_identifier" ).autocomplete({
		 		source: function(request, response){
					url = "/autocomplete/" + request.term;
					$.getJSON(url, function(data){
						response(data);
					});
				},
			     minLength: 2,
		     });
	     });

     </script>
{% endblock %}
{% block content %}
<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a id="tor_ibin_header" class="navbar-brand" href="#">TOR-IBIN Admin</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="{{ path('home') }}">Home</a></li>
	      <li class="active"><a href="{{ path('search') }}">Search</a></li>
	      <li><a href="{{ path('announcement_manager') }}">Announcements</a></li>
	      <li><a href="{{ path('data_manager') }}">Data</a></li>
	      <li><a href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li> 
	    </ul>
	    <ul class="nav navbar-nav right">
	      <li><a href="{{ path('user_logout') }}">Logout</a></li>
	    </ul>
	  </div>
	  <div class="shadow"></div>
	</nav>
</header>
<main>

{% for item in items %}


{{ item }}

{% endfor %}
 
</main>

{% block javascripts %}
{{ tinymce_init() }}
<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/jquery-ui.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
{% endblock %}
{% endblock %}