{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interaction list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>Binding_start</th>
                <th>Binding_end</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interaction in interactions %}
            <tr>
                <td><a href="{{ path('interaction_show', { 'id': interaction.id }) }}">{{ interaction.id }}</a></td>
                <td>{{ interaction.score }}</td>
                <td>{{ interaction.bindingstart }}</td>
                <td>{{ interaction.bindingend }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('interaction_show', { 'id': interaction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('interaction_edit', { 'id': interaction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interaction_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
