{% extends 'base.html.twig' %}

{% block body %}
    <h1>Announcement list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Show</th>
                <th>Show_on_home_page</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for announcement in announcements %}
            <tr>
                <td><a href="{{ path('admin_announcements_show', { 'id': announcement.id }) }}">{{ announcement.id }}</a></td>
                <td>{{ announcement.title }}</td>
                <td>{{ announcement.date }}</td>
                <td>{% if announcement.show %}Yes{% else %}No{% endif %}</td>
                <td>{% if announcement.showonhomepage %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_announcements_show', { 'id': announcement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_announcements_edit', { 'id': announcement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_announcements_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
