{% extends 'base.html.twig' %}

{% block body %}
    <h1>Protein list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sequence</th>
                <th>Gene_name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for protein in proteins %}
            <tr>
                <td><a href="{{ path('admin_protein_show', { 'id': protein.id }) }}">{{ protein.id }}</a></td>
                <td>{{ protein.name }}</td>
                <td>{{ protein.sequence }}</td>
                <td>{{ protein.genename }}</td>
                <td>{{ protein.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_protein_show', { 'id': protein.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_protein_edit', { 'id': protein.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_protein_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
