{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %} 
{% block stylesheets %}   
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/data_manager.css') }}">	
{% endblock %}
{% block title %}{{ short_title }} | Login{% endblock %}
{% block nav %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			{% if login_status == false %}
			<div class="navbar-header tor_ibin_header">
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">
					{{ short_title }}
				</h5>
				<button type="button" class="navbar-toggle right"
					data-toggle="collapse" data-target="#myNavbar"
					style="margin-left: 30px;">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse"
				style="padding-left: 0px;">
				<ul class="nav navbar-nav ">
					<li id="nav_home"><a href="{{ path('home') }}">Home</a></li>
					<li id="nav_search"><a href="{{ path('search_results') }}">Search</a></li>
					<li id="nav_download"><a href="{{ path('download') }}">Downloads</a></li>
					<li id="nav_about"><a href="{{ path('about') }}">About</a></li>
					<li id="nav_contact"><a href="{{ path('contact') }}">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li id="nav_login" class="active"><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				</ul>
			</div>
			{% elseif login_status == true %}
			<div class="navbar-header tor_ibin_header">
				<h5 class="nav-header" style="color: {{ main_color_scheme }}">
					{{ short_title }}
					Admin
				</h5>
				<button type="button" class="navbar-toggle right"
					data-toggle="collapse" data-target="#myNavbar"
					style="margin-left: 30px;">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div id="myNavbar" class="collapse navbar-collapse"
				style="padding-left: 0px;">
				<ul class="nav navbar-nav ">
					<li id="nav_home"><a href="{{ path('admin_home') }}">Home</a></li>
					<li id="nav_search"><a href="{{ path('admin_search') }}">Search</a></li>
					<li id="nav_download"><a href="{{ path('admin_download') }}">Downloads</a></li>
					<li id="nav_about"><a href="{{ path('about') }}">About</a></li>
					<li id="nav_contact" class="active"><a href="{{ path('contact') }}">Contact</a></li>
					<li id="nav_announcement_manager"><a href="{{ path('announcement_manager') }}">Announcements</a></li>
					<li id="nav_data_manager"><a href="{{ path('data_manager') }}">Data</a></li>
					<li id="nav_file_manager"><a
						href="{{ path('file_manager', {'upload_directory': 'FASTA'}) }}">Files</a></li>
					<li><a href="{{ path('admin_settings') }}">Settings</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="{{ path('user_logout') }}">Logout</a></li>
				</ul>
			</div>
			{% endif %}

		</div>
		<div class="shadow"></div>
	</nav>
{% endblock %}
{% block fos_user_content %}
<div class="container">
	<div id='login' style="padding:40px; background:#ffffff; border: 1px solid #ccc">
		<div class="row" style="margin:10px 0 10px 0;">
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<div class="form-group">
				<label for="username">{{ 'Username'|trans }}: </label> 
				<input type="text" id="username" style="background:#e7e7e7;" name="_username" value="{{ last_username }}" required="required" />
			</div>
			<div class="form-group">
				<label for="password">{{ 'Password'|trans }}: </label> 
				<input type="password" id="password" style="background:#e7e7e7;" name="_password" required="required" />
			</div>
			<input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ 'Login'|trans }}" />
		</form>
		</div>
		<a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
	</div>
</div>
{% endblock fos_user_content %}


