{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organism list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Class</th>
                <th>Scientfic_name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organism in organisms %}
            <tr>
                <td><a href="{{ path('admin_organism_show', { 'id': organism.id }) }}">{{ organism.id }}</a></td>
                <td>{{ organism.name }}</td>
                <td>{{ organism.class }}</td>
                <td>{{ organism.scientficname }}</td>
                <td>{{ organism.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_organism_show', { 'id': organism.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_organism_edit', { 'id': organism.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_organism_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
